# Birinci  Hafta Özet (26.01.2024 - 27.01-2024)

In [2]:
#"'str' object is not callable" şeklinde bir hata genelde jupyter ile ilgilidir.dosyayı kapatıp açmak ya da restart tuşuna basmak çözüm olur.

#case sensitive, fonksiyonlar küçük harfle, boolean değerler büyük harfle başlar gibi özellikler mevcut.

#markdown satırı tam bir yorum satırı değil, html kodları vs. için de kulllanılır.

#pep8 kuralları = clean code kuaralları, mesela tek satırda 79 karakteri aşma gibi. bakınız: https://peps.python.org/pep-0008/

#b tuşu yeni kod satırı oluşturur, ctrl+alt+enter cod satırını çalıştırır, shift+enter hem çalıştırır hem de altta yeni kod bloğu oluşturur.

In [3]:
print("""hello
      world""") #3 çift tırnak ya da 3 tek tırnak önemlii! içine yazdığın gibi çıktı verir.

hello
      world

In [4]:
print("'techpro'")

'techpro'

In [3]:
print(""""'""") #eğer 3 tırnak yazarsan başa tamam ben 3 tırnakla başlamışım der.devamında kapatmak için ard arda 3 tırnak arar. bulana kadar olan içeriği string kabul eder.

"'

In [6]:
print(""""""") #phyton okuma mantığında ilk üç tırnağı algılıyor. sonraki üç kapatma tırnağını arıyor. bulduğu an kapatılmış diye düşünüyor. sonda kalan tırnak string olarak algılanmadığı için hata veriyor.

SyntaxError: unterminated string literal (detected at line 1) (2301317359.py, line 1)

In [4]:
print("""""""")

In [5]:
 # değişken tanımlarken değişken adı rakam ile başlayamaz. _ dışında hiçbir sembol içeremez. _ sembolü değişken adının başında yer alabilir
age_2 = 85   
course ="techpro education"    # bazı değişken tanımlamaları
_fb = "şampiyon :)"
cevap_1 = False
piNumber = 3.14 
name_13 = name_14 = "ahmet"
name_7, name_8 = "mustafa", "ceren"  #böyle olmak zorunda tek name-2 value ya da iki name tek value olamaz. ayrıca şu da bir hatalı kullanım:  name_9, name_10="Kadir, Betül"
age = 32, name = "sedat" #hata verir. aradaki virgül olmasa da tek satırda bu şekilde değişken tanımlanmaz, ama virgül yerine noktalı virgül olur.

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3420416322.py, line 9)

In [1]:
#değişken adları yalnızca bu kelimelerden oluşamaz. ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal','not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
print(age_2, _fb, cevap_1, "hayat bayram olsa") #değişken ya da ifadeleri print ile tek satırda yazmak için değişken adları arasına virgül koymak zorundasın.

85 şampiyon :) False hayat bayram olsa

In [7]:
type(False) #type fonksiyonu içine aldığı değişkenin ya da ifadenin türünü döndürür.

bool

In [7]:
#round kullanımı
print(round(24.1))
print(round(24.6))
print(round(23.5)) #tekse yukarı yuvarlama
print(round(34.5)) #çiftse aşağı yuvarlama

24
25
24
34

In [8]:
print(round(130.666, 1))
print(round(130.666, 2))
print(round(130.6964583, 2))
print(round(130.666, 3))
print(round(130.666, 4))
print(round(130.666, 0))

130.7
130.67
130.7
130.666
130.666
131.0

In [9]:
print(round(130.666, -1))
print(round(130.666, -2))
print(round(180.666, -2))
print(round(130.666, -3))
print(round(730.666, -3))
print(round(130.666, -1997))
print(round(730.666, -1997))

130.0
100.0
200.0
0.0
1000.0
0.0
0.0

In [10]:
# format & f string
name = "Ahmet"
surName = "Altın"
age = 36


greeting = "My name is {} {} and \nI'm {} years old.".format(name, surName, age)
print(greeting)

greeting = "My name is {1} {2} and \nI'm {0} years old.".format(age, name, surName)
print(greeting)

greeting = "My name is {n} {s} and \nI'm {a} years old.".format(s=surName, n=name, a=age)
print(greeting)

greeting = f"My name is {name} {surName} and \nI'm {age} years old."
print(greeting)

My name is Ahmet Altın and
I'm 36 years old.
My name is Ahmet Altın and
I'm 36 years old.
My name is Ahmet Altın and
I'm 36 years old.
My name is Ahmet Altın and
I'm 36 years old.

In [ ]:
str1 = "{2}, {1} and {0}".format("a", "b", "c")
str2 = "{0}{1}{0}{0}{0}{1}{1}".format("abra", "cad")

print(str1, str2, sep="\n")

In [8]:
araba="renault" #bu kodu çalıştırdım. sonra satırı sildim. bu değer silinmiş olmaz. 
print(araba)

renault

In [9]:
del araba # bu kod araba değişkenini siler ram'den

In [10]:
araba

NameError: name 'araba' is not defined

# İkinci  Hafta Özet (29.01.2024 - 03.02-2024)

In [11]:
#aşağıdaki satırların hepsi geçerli işlemlerdir, hata vermez.

yas = 32                 #bazı type conversionlar
kilo = "60.8"    
isim = "4"           #string ifadenin float ya da int'e dönüşümü için ifadenin mutlaka float'a ya da int'e birebir benzemesi gerek. float'a benzeyen bir stringi direkt int'e çeviremezsin önce float'a çevirmen gerekir.Hata verir yoksa.
yanit = False       
str(yas)
int(isim)
float(isim)
kilo=float(kilo) #kiloyu önce floata çevirdim sonra inte
int(kilo)
str(yanit) #çıktısı 'False' şeklinde. bu ifadeyi print(str(yanit)) şeklinde yazdırırsak yalnızca False görecektik. çünkü print sadece değerini gösterir. türünü ifade eden herhangi bir ibare yazdırmaz.
print(str(yanit))
int(True)
float(False)

False

0.0

In [12]:
x=int(input())#input() FUNCTION: default string olarak alır girdiyi. inputu string olarak aldıktan sonra int'e çevirmek daha mantıklı. uygun olmayan veri girişlerine karşı
x

7

In [21]:
int(5.4)
int(5.6) #int fonksiyonu yuvarlama yapmaz. noktadan sonrakini siler. bu iki ifadenin de sonucu 5'tir
int(6.9999999999999996) #yukardaki kod satırının istisnası. .99 şeklinde devam eden 15 basamaktan sonra 16. basamak 5ten büyükse üste yuvarlama yapar.
int(6.99999999999999954) #bunun çıktısı 6 olur, .dan sonra 17 basamak ama , 16. basamak 5, 17 basamak 4.
int(6.99999999999999956) #bunun çıktısı 7 olur (17.basamak)
int(6.99999999999999955) #bunun çıktısı 6 olur (17.basamak)
int(6.999999999999999556) #bunun çıktısı 7 olur (18.basamak) demekki 16 basamaktan sonra gördüğü ilk 5ten büyük rakamda sayıyı üste yuvarlar.

7

In [ ]:
#arithmetic operators
40 / 10 #çıktısı 4.0. bölme işlemi her zaman float sonuç verir.
25 // 3 #floor division. bölme işlemindeki bölümü küsüratsız verir.
25 % 3 # modulus. bölme işlemindeki kalanı verir.
2 ** 3 # ifadesi üs alma işlemidir 
25 ** 0.5 #bu şekilde kare kökü alabilirsin
27 ** (1/3) #küpkökü böyle alabilirsin

In [ ]:
2.7*7 #normalde bu işlemin sonucu 18.9 iken phyton bazen böyle çok ufak küsüratlı garip sonuçlar verebiliyormuş. herekese buşekilde çıkmayabilrimiş. (?)

18.900000000000002

In [22]:
64 ** (1/3) #sonucun 4 olmasını beklersin ama programlama dilinin altyapıda bazı işlemleri bitlerle yapmasından kaynaklı bir sorun. çok takılma (?)

3.9999999999999996

In [23]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [25]:
#print() FUNCTION: sep = "" parametresi birden çok değişken varsa aralara tırnak içi ifadeyi ekler. Default değeri bir space'tir. end = "" parametresi değişken ya da değişkenleri yazdıktan sonra en sona tırnak içini ekler. default değeri \n yani new line'dır.

print("Mikail", "Serhan", "Mustafa", sep="***", end = "???")

print("orkun")

print("sedat")

print("aytaç", "ali")

Mikail***Serhan***Mustafa???orkun
sedat
aytaç ali

In [24]:
#escape sequances: kodun çalışmasını engelleyen durumların önüne geçmek için varolan bazı karakterlerdir.

print('I\'m a python teacher') #\ kendinden sonraki karakterin kodsal anlamını atlar,string gibi görür.

print("Bu ders çok uzadı. \nBir an önce bitse mi acaba?") #\n yeni satıra geç

print("""Bu ders çok uzadı.       
Bir an önce bitse mi acaba?""")

print("Bu ders çok uzadı.", "Bir an önce bitse mi acaba?", sep="\t") #\t bir tab boşluk

print("Bu ders çok uzadı.\b\bBir an önce bitse mi acaba?")

print("Betül", "Ayşe", "Aytaç", sep="\b") #\b kendinden önceki bir karakteri silme

print( r"Bizde geri \nvites olmaz") #r ifadeyi olduğu gibi yazdırır.escape sequances'ları da string görür. escape sequances'ların escape'i

I'm a python teacher
Bu ders çok uzadı.
Bir an önce bitse mi acaba?
Bu ders çok uzadı.
Bir an önce bitse mi acaba?
Bu ders çok uzadı.	Bir an önce bitse mi acaba?
Bu ders çok uzadBir an önce bitse mi acaba?
BetüAyşAytaç
Bizde geri \nvites olmaz

In [26]:
#yazdığımız an çalışacak fonksiyonlara built-in function denir. print(), input(), type() gibi.

In [29]:
type(3==3) #True çıktı

sifre="1234"
kull_girisi= input("Şifrenizi giriniz: ") #2345 gibi eşleşmeyen değer girdiğimde
print(sifre==kull_girisi) #<= , >= , !=, vs. comparison operators'te sembollere dikkat et.eşittir sonra.

"sedat">"istanbul" #ascii tablosuna göre bakar.ilk harfler aynıysa ikinci harfe o aynıysa 3. harfe bakar şeklinde ilerler.farklı olan karakterdeki karşılaştırmanın sonucunu verir. zaten tüm karakterler aynıysa true döndürür.

ord("a") #içine yazılan karakterin ascii değerini döndürür.String içine tek karakter.

chr(100) #içine yazılan sayısal ascii değerin hangi karaktere denk geldiğini döndürür.

False

'd'

In [32]:
# BOOLEAN: 0, 0.0, "", (), [], {}, None, False->False şeklindeki tüm ifadeler "False" tur. bunların dışındakiler True'dur. (FALSY VE TRUTHY OLARAK)
#Normalde False = 0 = 0.0 True = 1 = 1.0

In [31]:
#LOGIC EXSPRESSİONS İŞLEM ÖNCELİĞİ:
### 1-not -- işlem sonucu her zaman True veya False'tur. 
### 2-and -- hepsi true ise en sondaki elemanı döndürür. bir tane bile false varsa ilk gördüğü false'u döndürür.
### 3-or  -- hepsi false ise en sondakini döndürüR. bir tane bile true varsa ilk gördüğü true'yu döndürür.

In [30]:
True or False and not 0 and 3 or False

True

In [33]:
False or not 0 and 6 and "kahoot"

'kahoot'

### Strings- index and slicing - methods

In [ ]:
# immutable değiştirilemez (komple atama yapmadan değiştirilemez.)
#iterable yinelenebilir (tek tek elemanlarına ulaşılabilir)

In [36]:
name = "Techpro Education"

print(name[0]) #unutma indeksler 0'dan başlar, space'te bir indekstir. ancak "" şeklinde tamamen boş bir string ya da değişkenin indeksi hata verir.

print(name[-1]) #tersten index.

print(name[11]*3)

print(name[4] + name[8] + name[13]) #stringler kendi arasında toplanabilir, yalnızca int ile çarpılabilir, ancak bölünemez ve çıkarılamaz.

print(name[4:12:2]) #start:stop:step, start dahil, stop noktasını sen yazmışsan dahil değil. Ayrıca olmayan indeks istenirse:"Techpro" [4:7] (çalışır), "Techpro" [7] hata verir.

print("techpro" [::]) #tüm adımlar için defaultu aldı. hepsini yazdırdı.

"Techpro" [8:12] #bu aralık mevcut olmadığı halde hata vermedi. boş string döndürdü.Çünkü slicing, indexing'de hata verir.

T
n
ccc
pEt
poEu
techpro

''

In [37]:
print("techpro" [1:5:-1]) #start olan birden başlayıp sola doğru -1 gittiği için stopla hiç karşılaşmadı ve boş string döndürdü. 

"Techpro" [5:1] #boş string
"Techpro" [1:1] #boş string
"techpro education" [::-1] #-1i gördüğünde default start ve stopun yerini default olarak değiştirdiği için ifadeyi full olarak tersten yazdırdı.

'noitacude orphcet'

In [41]:
#METHODS: tek başına çalışmaz stringifade/değişken.methodadı() şeklinde çalışır. en çok methodu olan data type stringdir: 

name="techPRro eee EduCation"
print("techpro".upper (),  
      'TECHPRO'.lower(),
      name.capitalize(),
      name.title(),        
      name.swapcase(),     
      name.replace("e", "?", 1), sep = "\n") #.replace(ilk değer, son değer, adet şeklinde çalışır.)adet varsayılanı -1'dir. eşleşen değerlerin tümünü değiştirir. yazdığın her negatif sayıda aynı sonucu verir.

TECHPRO
techpro
Techprro eee education
Techprro Eee Education
TECHprRO EEE eDUcATION
t?chPRro eee EduCation

In [42]:
#methodlar index ya da slicingle ya da birbirleriyle birlikte kullanılabilir.method sonucunda çıkan type string olduğu sürece peş peşe methodlar sıralanabilir.
print("emre"[0:2]+"emre"[2:].capitalize())
"?serhan?murat?".replace("?", "*", 2).replace("a", "ü").title().replace("*", "!")

emRe

'!Serhün!Murüt?'

In [53]:
#is ile başlayan methodlar: boolean döndürürler.
"techpro99".isalnum() #alfanumerik mi? True
"techpro-99".isalnum() #- işareti bir punctuations, alnum'a girmiyor. False
"techpro99".isalpha() #numerik karakterler de var. false o yüzden.
print(name)
name.islower() #hepsi küçük harf mi.False
"1234".isdigit() #is numeric is digit is decimal hepsi birbirinin aynısı gibi detayını öğrenmek için bakabilirsin.çok küçük nüansları var.

#isdecimal() method supports only Decimal Numbers.(-leri dahil etmiyor) #bu bilgileri tekrar araştır hatalı gibi.
#isdigit() method supports Decimals, Subscripts, Superscripts.(-leri dahil etmiyor)
#isnumeric() method supports Digits, Vulgar Fractions, Subscripts, Superscripts, Roman Numerals, Currency Numerators.(-leri dahil etmiyor)

techPRro eee EduCation

True

In [111]:
#count() methodu:paranteze bir ya da çok karakterli tek bir string alır. yoksa hata verir.

the_course = "techpro education"
print(the_course.count("")) #len()'den bir fazlasını döndürür. çünkü imlecin karakterler arasında durduğu yeri sayıyor.
print(len(the_course)) #karakter sayısı çevirir.methode değil, fonksiyon.
print(the_course.count("ch"))
print(the_course.count("ö")) #karakter yoksa 0 döndürüyor.
print(the_course.count(" ")) #mesela yazdığın stringte kaç kelime olduğunu bulmak istiyosan çıkan sonuç + 1 dersin.Çünkü boşluk sayıyor.

print(the_course.index("h")) #içine yazılan değerin indexini döndürür.
the_course.index("ch") #ifade birden çok elemanlı ise ifadenin başladığı indexi döndürür.

18
17
1
0
1
3

2

In [55]:
print("techpro".replace("e", "a", 1).title().count("ch")) #sonuç int olduğu için string methodlara devam edilemez.
print("techpro".replace("e", "a", 1).title().isalpha()*3) #isalpha'dan True çıktı bunu 1 kabul edip matematiksel işlemi yaptı.
print("techpro education".count("k" or "c")) #k'ya baktı 0 döndü ilk ifadeyi aldı.ilk tru'yu aramadı yani
"techpro education".count("ö" and "o") #o'ya baktı 2 döndü son ifadeyi verdi.İlk değerin üreteceği 0 sonucunu  almadı yani.

1
3
0

2

In [56]:
#split() methodu: stringi belirtilen noktadan string parçalara böler. varsayılan değer boşluktur.böldüğü yerdeki karakteri, boşluğu yok eder, string'e dahil etmez.Liste döndürür.
str_2= 'Techpro is the best course in the world'
print(str_2.split()) #default olarak boşluklardan parçalar.
print(str_2.split("o")) #split("splitnoktası", maxsplit) şeklinde.maxsplit default=-1 yani tümü.
print(str_2.split("o", 1)) #bir yerine maxsplit = 1'de yazabilirdim.
str_2.split("g", maxsplit=2)

['Techpro', 'is', 'the', 'best', 'course', 'in', 'the', 'world']
['Techpr', ' is the best c', 'urse in the w', 'rld']
['Techpr', ' is the best course in the world']

['Techpro is the best course in the world']

In [57]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \n \r \t \f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits.
        -1 (the default value) means no limit.

    Splitting starts at the front of the string and works to the end.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [58]:
#strip() methodu: default olarak baştaki ve sondaki boşlukları siler. eğer parantez içine bir string eklersen baş  ve sondaki o ifadeleri siler.rstrip(), lstrip() ile sadece right veya leftteki boşlukları, karakterleri sildirebilirsin.
print("     Tech    pro      ".strip())
print("???Tech??pro???".strip("?")) 
print("???Tech??pro???".rstrip("?"))
print("???Tech??pro???".lstrip("?"))
print("techpro is tehe bessttsst".strip("ts"))#bu örnekte s'yi arar t'yi arar, ts'yi arar st'yi arar bütün versiyonlarını kontrol eder ve siler.
"techpro is tehe bessttsst".strip("tse")

Tech    pro
Tech??pro
???Tech??pro
Tech??pro???
echpro is tehe be

'chpro is tehe b'

# Üçüncü  Hafta Özet (05.02.2024 - 10.02.2024)

### if,elif, else

In [59]:
#if'lerdeki önemli konu
if True:
    print(8*4) #if'deki espri if değerin yanındaki koşulun true olması.true olduğu sürece veya truthy ifade olduğu sürece çalışır. 

if 8 % 2:
    print("acaba çıktı verir mi?") #0 işlem sonucu, o da false olduğu için çıktı vermez.

if (8 == 8):
    {
print("123456") #kendi denemen. c# taki syntax'a da cevap veriyomuş. ama hiç tab olmadan cevap vermiyor. süslü de girinti ile başlamalı yani.
    }

if 10 > 3:
    print("10, 3 ten büyüktür") 
    age = 10 * 3 - 2
    print(age) #girinti devam ettiği sürece hepsi if bloğu içinde.

age # if bloğu içinde tanımlanan değişken if bloğu dışında da geçerlidir.

32
123456
10, 3 ten büyüktür
28

28

In [60]:
if "irem":
    print("12")

12

In [ ]:
x = float(input("lütfen 0 ile 50 arasında bir sayı girin"))

print(x)

if x < 10:
    print("sayı 10 dan küçüktür")
elif x < 35:
    print("sayı 35 ten küçüktür")
elif x <= 50:
    print("sayı 50 e eşit veya  küçüktür")
else:
    print("sayı 0 ile 50 arasında değil.")  #elif ve else ifadeleri Girintili değil if ile aynı hizada dikkat et.

In [ ]:
x = 5
if x > "irem":
    print("string ile integer karşılaştırılamaz.bu nedenle hata verir. ")

TypeError: '>' not supported between instances of 'int' and 'str'

### Lists

In [ ]:
#mutable: değiştirilebilir
#iterable: yinelenebilir, tek tek ulaşılabilir.ordered.

In [61]:
bos_liste = list () #boş liste oluşturur. fonksiyonun içi iterable ifade alır.
print(bos_liste)

liste_1 =[1,2.5, True, "İrem, [1,2,3,4], bos_liste"]
print(liste_1)

bos_liste = list("Techpro") #liste_10 = list("Ali", "Murat") gibi bi ifade hata verir.
print(bos_liste) 

liste_10 = list("Ali" + "Murat")
print(liste_10)

print(len("irem")) #bu ifade çıktı verir. ancak len(1453) gibi bir ifade hata verir. çünkü integerlar iterable değildir.

liste_2 = ["Mehmet", 5, "Aslan", 5, "Mehmet", "mehmet", 5.0] #aynı elemandan birden çok olabilir.
print(liste_2)

print(len(liste_2))

[]
[1, 2.5, True, 'İrem, [1,2,3,4], bos_liste']
['T', 'e', 'c', 'h', 'p', 'r', 'o']
['A', 'l', 'i', 'M', 'u', 'r', 'a', 't']
4
['Mehmet', 5, 'Aslan', 5, 'Mehmet', 'mehmet', 5.0]
7

In [62]:
#index, slicing ve  list() methodları
#start noktasının defaultu 0, stop noktasının defaultu son index dahil, step noktasının default'u 1'dir.tersten okumada eğer tanımlanmadıysa satrt ve stopun defaultu kendi arasında otomatik yer değiştirir.
ortaya_karışık = [3, 4.4, "Orkun", False, [1, 2, 3, 4, 5]]
print(ortaya_karışık[-1])
print(ortaya_karışık[1:4:3])
print(ortaya_karışık[::3])
print(ortaya_karışık[::-1])
print(ortaya_karışık[2].upper().count("R"))
print(ortaya_karışık[4][3])
ortaya_karışık[0] = "ali"
print(ortaya_karışık[0])

[1, 2, 3, 4, 5]
[4.4]
[3, False]
[[1, 2, 3, 4, 5], False, 'Orkun', 4.4, 3]
1
4
ali

In [63]:
name = "Techpro Education"
name[0] = "B" #çünkü stringlerimmutable yani değiştirilemez değişkenler iken list'ler mutable, değiştirilebilir değişkenlerdir.Ancak ikisi de iterable'dır.yani elamanlarına tek tek erişilebilir.

TypeError: 'str' object does not support item assignment

In [71]:
sayılar_1 = [1, 2, 3, 4, 5]

sayılar_1.append(6) #listenin sonuna parantez içindeki elemanı ekler.sayılar_1.append(8,9) ifadesi ise hata verir. tek append() ile iki eleman eklenemez.ancak append ([1,2]) gibi kullanım mümkündür. listenin tamamını tek bir eleman olarak ekler.
print(sayılar_1)

sayılar_1.insert(1, 5) #1. indeksine 5 elemanını ekle demek. 1. dizine indeksine  5 ekler gerisine omuz atıp sağa kaydırır.
print(sayılar_1)

sayılar_1.insert(-1, 16) # -1'den 16 elemanını ekledi. -1'deki 5 elemanını sağa kaydırdı.
print(sayılar_1)

sayılar_1.insert(100, 17) #belirttiğin indis sayısı son indisini aşıyorsa en sona ekler.

sayılar_1.remove(3) #parantez içiyle eşleşen belirli bir elemanı siler. eşleşen eleman yoksa hata verir.aynı değerden birçok olsaydı en soldakini, yani ilkini silerdi.
print(sayılar_1)

silinen =sayılar_1.pop(0) #parantez içinde yazan indexdeki elemanı siler. bişey yazmazsan default index -1 olduğu için son elemanı siler.sildiği elemanı da çıktı verir.Eğer liste boşsa ya da parantez içindeki index mevcut değilse hata verir. sayılar_1.pop(7) hata verir mesela
print(silinen)
print(sayılar_1)

print(sayılar_1.count(5)) # parantez içine yazılan elemandan listede kaç tane bulunduğunu söyler.eleman yoksa 0 çıktısı verir.

sayılar_1.sort() #liste içindeki elemanları küçükten büyüğe sıralar. elemanların hepsi string ise ilk elemanlarının ascii karşılığına göre sıralama yapar.liste içerisinde farklı data type'lar varsa sort methodu hata verir.
print(sayılar_1)

sayılar_1.sort(reverse = True) #liste içindeki elemanları büyükten küçüğe sıralar.
print(sayılar_1)

sayılar_1.clear() #listenin içini tamamen temizler
print(sayılar_1)

del sayılar_1 #sayılar_1 değişkenini hiç tanımlanmamış gibi siler.

[1, 2, 3, 4, 5, 6]
[1, 5, 2, 3, 4, 5, 6]
[1, 5, 2, 3, 4, 5, 16, 6]
[1, 5, 2, 4, 5, 16, 6, 17]
1
[5, 2, 4, 5, 16, 6, 17]
2
[2, 4, 5, 5, 6, 16, 17]
[17, 16, 6, 5, 5, 4, 2]
[]

In [72]:
karışık = [1, 0.0, False, 2, True, 1, 1.0, 0, "", "irem"]
print(karışık.count(0)) #tüm false'a eşit değerleri saydı, ancak falsy değerleri saymadı.dikkat et.

isimler_2 = ["Murat", "ayşe", "seyda", "mehmet",]
isimler_2.sort()
print(isimler_2)

isimler_2.extend([1, 2]) #iterable girdi alarak liste'ye  liste append yapar gibi düşünebilirz. bu iterable girdiyi paçalayarak tek tek tüm indislerini listeye eleman olarak ekler.
print(isimler_2)

isimler_2.extend("techpro") #parantez içine int gibi iterable olmayan eleman alırsan hata verir.İfadeyi perçalayarak her bir elemanını listeye ekler.
print(isimler_2)

sayılar_2 = [1, 2, 4, 5, 3]
sayılar_2.reverse() #listenin inekslerini tersine döndürür. sonunucu index 0., sondan 2. index 1. olur.
sayılar_2

3
['Murat', 'ayşe', 'mehmet', 'seyda']
['Murat', 'ayşe', 'mehmet', 'seyda', 1, 2]
['Murat', 'ayşe', 'mehmet', 'seyda', 1, 2, 't', 'e', 'c', 'h', 'p', 'r', 'o']

[3, 5, 4, 2, 1]

### TUPLES

In [ ]:
#immutable, stringler gibi, listelerin aksine. assign işlemi yapmadan değiştirilemez. 
#iterable
#tuplelar listelere göre daha hızlı çalışır ve daha güvenlidir. çünkü içinden eleman silemezsin.Türkçe karşılığı ise "demet".

In [ ]:
print(tuple("Techpro")) #içine iterable eleman alıp bunu tuple'a çevirir. tuple() fonksiyonu parantez içine tek bir iterable eleman alır. içiine intiger gibi iterable olmayan bir eleman alırsa hata verir.

print(tuple([1,2,3,4,5])) # örneğin tuple([1,2,3], "Techpro") ifadesi birden çok eleman içerdiği için hata verirdi.

tuple_1= ("Techpro", 3, 3.14, False, [1,2,3]) #tuple fonksiyonu dışında bu şekilde de tuple tanımlanabilir.
print(tuple_1)

#tuple'ın ikinci tanımlanma yönteminde parantez içine tek eleman verirsek sonrasında mutlaka virgül koymamaız gerekir. yoksa tuple oluşturmaz.
tuple_2 = ("Techpro",) 
tuple_3 = ("techpro")
print(tuple_2)
print(tuple_3)

print(len(tuple_2)) # virgülü eleman olarak saymıyor kafan karışmasın.

"techpro",

('T', 'e', 'c', 'h', 'p', 'r', 'o')
(1, 2, 3, 4, 5)
('Techpro', 3, 3.14, False, [1, 2, 3])
('Techpro',)
techpro
1

('techpro',)

In [ ]:
pi_number= 3,14 #bu da tuple tanımlamanın başka bir yolu. virgül önemli. ancak paranteze gerek yok demek ki. ama liste yaparken köşeli parantez gerekliydi.
print(pi_number)
print(type(pi_number))
print(len(pi_number))
tek_elemanlı_1= (122.3) #virgül koymadım tupple yapmadı parantez içindeki data type'ı algıladı sadece
print(tek_elemanlı_1)
print(type(tek_elemanlı_1))

(3, 14)
<class 'tuple'>
2
122.3
<class 'float'>

In [ ]:
print(type("techpro",)) #burdaki parantez type fonksiyonuna ait. o yüzden içerde string var da devam edecekmiş gibi algıar türüne string der
type(("techpro",))
#type(1,2) ifadesi ise hata verir.

<class 'str'>

tuple

In [ ]:
#tuple'larla toplama ve çarpma yapılabilir.
print((1,2,3) + (4,5))
print((1,2,3) * 3)
#("Techpro", 3, False) + ("Sedat") #ikinci ifade string, virgül yok hata verir

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#tuple'larda indexleme ve slicing:
tuple_4 = ("Aslan", 4, True, ["Tulay",5,6], ("Zeynep",2,3.14) )
print(tuple_4[3][0]) #print() olmasa iç fonksiyonun çıktısı 'Tulay'
print(tuple_4[4][1])
tuple_4[1:4] #slicing sonucunda gelen ifade slicing yaptığın şeyin türü şeklinde gelir. boş bile olsa sonuç. ama indexlemede işaret ettiğin indexin türü şeklinde çıktı verir.
#tuple_2[0]= 5 #bu ifade hata verir. çünkü tuple'lar mutable değildir.değiştirmek için tüm tuple'a yeniden assignment yapmak gerekir. ama veri eklemede sorun yok.var olan index değiştirilemez. index bir listeyse tekrar düşün?

Tulay
2

(4, True, ['Tulay', 5, 6])

In [ ]:
tuple_4[3].append(7) #işaret edilen indexte bir liste varsa bu  liste değiştirilebilir, bu listeye veri eklenebilir.bir Alt komut satırındaki gibi düşün.aslında index değişmiyor çünkü
tuple_4

('Aslan', 4, True, ['Tulay', 5, 6, 7], ('Zeynep', 2, 3.14))

In [ ]:
liste_1= ["tulay", 5, 6]
tuple_4=('Aslan', 4, True, liste_1, ('Zeynep', 2, 3.14))
tuple_4[3].append(7) #tuple içine tuple'da olur, list'te olur.
tuple_4
#del tuple_2[3] # bu ifade de hata verir. çünkü tuple immutable, belli bi indexini silemezsin. ama tüm tuple'ı silebilirsin.

('Aslan', 4, True, ['tulay', 5, 6, 7], ('Zeynep', 2, 3.14))

In [73]:
tuple_5 = (1, 4, 2, 5, 1, 3, 2, 4)
print(tuple_5.count(4))
print(tuple_5.index(4)) #parantexdeki elemanın hangi indexte olduğunu ilkini döndürür.eleman yoksa hata.

2
1

In [ ]:
###range () fonksiyonu: range(start, stop, step ) belirli aralıktaki tam sayıları sıralar. floatla çalışmaz.tuple ya da liste oluşturmak için kullanılabilir.[start, stop) şeklinde tanımlanabilir kapsadığı alan. start default 0'dır. step default 1'dir.tek değer yazarsan onu stop kabul eder, 0'dan o sayaıya kadar sıralar.

liste_11= list(range(1,13,2)) #list(range()) ifadesinde stop noktasının bir defaultu olmadığı için hata verir.
print(liste_11)

tuple_6=tuple(range(6))
print(tuple_6)
print(type(range(4,10))) #o zaman range'lerde iterable, ama immutable
range(4,10)[1]

[1, 3, 5, 7, 9, 11]
(0, 1, 2, 3, 4, 5)
<class 'range'>

5

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

## DICTIONARIES

In [76]:
#??? acaba dictionary'lerde slicing mümkün mü?
#mutable
#iterable #iterable ancak indexlemeyi index numarasına göre değil, key'lerine göre yapar. yani köşeli parantez içine key adı yazarsın, o keye karşılık gelen value'yu döndürür. eşleşme yoksa hata verir.

In [77]:
dict_dısardanalma = {"name" : input("isminizi girin")}
dict_1= {"key": "value1", "key2" : "value2", "age" : 30, 0 : 3.14 } #boş key kabul etmiyor. key yada value'su farklı type'larda olabilir.yalnızca keyleri list, dict, set data type'nda olamaz.
print(dict_1)
len(dict_1) #1 key ve eşleştiği  1 value'yu bir eleman olarak algılıyor.
print(dict_1.items()) ##items dictionay'nin elemanlarını tek tek görmemizi sağlar. bir liste içinde tuple şeklinde key-value çiftlerini gösterdi.
print(dict_1.keys()) #sadece keyleri bir liste içinde gösterir.
dict_1.values() #sadece value'ları bir liste içinde gösterir.

{'key': 'value1', 'key2': 'value2', 'age': 30, 0: 3.14}
dict_items([('key', 'value1'), ('key2', 'value2'), ('age', 30), (0, 3.14)])
dict_keys(['key', 'key2', 'age', 0])

dict_values(['value1', 'value2', 30, 3.14])

In [78]:
#indexing
print(dict_1 ["age"])
dict_2 = { 1: "one",0 :"zero", 2 : "two"}
print(dict_2[1]) #sonuç verdi, çünkü  keyi 1 olan elemanı var.
dict_3 = { (1,2,3) : "sayılar tuple'ı"} #tuple'lar key olabilir.
print(dict_3)
dict_4 = {"öğrenci1" : ["orkun", 32, "data science"], "öğrenci2" : ("bilkay", 25, "python_developer"), } #tuple'lar da listeler de  value olabilir. eğer value değişmeyecek bilgiler içeriyorsa tuple yapmak daha mantıklıdır.
print (dict_4)
dict_4.keys()

30
one
{(1, 2, 3): "sayılar tuple'ı"}
{'öğrenci1': ['orkun', 32, 'data science'], 'öğrenci2': ('bilkay', 25, 'python_developer')}

dict_keys(['öğrenci1', 'öğrenci2'])

In [79]:
dict_5 = { [1,2,3] : "sayılar listesi"} #listeler key olarak atanamaz.hata verdi.

TypeError: unhashable type: 'list'

In [80]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [81]:
print(dict_4)
dict_4["öğrenci1"][1] = 36 #ilk ifadenin sonucu artık bir liste olduğu için liste methodlarını devamında kullanabiliriz.bir dictionari'nin sadece valueları değiştirilebilir?
dict_4

{'öğrenci1': ['orkun', 32, 'data science'], 'öğrenci2': ('bilkay', 25, 'python_developer')}

{'öğrenci1': ['orkun', 36, 'data science'],
 'öğrenci2': ('bilkay', 25, 'python_developer')}

In [82]:
print(dict(one = 1, two = 2, three = 3)) #dict fonksiyonu ile dictionary tanımlarken yani dict() şeklinde tanımlarken sanki bir değişken ataması yapar gibi yapıyosun. o yüzden değişken gibi gördüğü için isimlendirmede başında harf ya da biryerinde özel karakter olan key atamalarında hata veriyor. dict fonksiyonu key değerlerini otomatik string'e çeviriyor.bu sebeple pek kullanılmaz bu dict oluşturma yöntemi.
#mesela : dict(1 = "1", 2 = "2", 3 = "3") ifadesi hata verir. keyler rakam ile başlıyor.Değişken rakam ile başlamaz.
dict_6=dict(one = "1", two = "2", three = "3") 
dict_6

{'one': 1, 'two': 2, 'three': 3}

{'one': '1', 'two': '2', 'three': '3'}

In [83]:
liste_13 = [("name", "sedat"), ("name2", "murat"), ("name3", "ebru")] #bu şekile ikili ikili olmasaydı dict yapamazdı.
tuple_7= (["name", "sedat"], ("name2", "murat"), ["name3", "ebru"])
dict_6=dict(liste_13)
dict_7=dict(tuple_7)
print(dict_6, dict_7, sep = "\t\t") #yani önemli olan ikili formaattır. list ya da tupleolması çok önemli değildir.

{'name': 'sedat', 'name2': 'murat', 'name3': 'ebru'}		{'name': 'sedat', 'name2': 'murat', 'name3': 'ebru'}

In [85]:
print(dict_4, end="\n\n")
print(dict_4.items(),end="\n\n")
print(list(dict_4.items()), end="\n\n")
print(list(dict_4), end="\n\n") #bu şekilde yaparsan sadece keyleri list yapar.
liste_2= list(dict_4.items()) #bazen dicionary ile yapamadığımız işlemleri, dictionary'leri liste çevirerek list ile yapabiliriz.
print(liste_2)
liste_2[0]

{'öğrenci1': ['orkun', 36, 'data science'], 'öğrenci2': ('bilkay', 25, 'python_developer')}

dict_items([('öğrenci1', ['orkun', 36, 'data science']), ('öğrenci2', ('bilkay', 25, 'python_developer'))])

[('öğrenci1', ['orkun', 36, 'data science']), ('öğrenci2', ('bilkay', 25, 'python_developer'))]

['öğrenci1', 'öğrenci2']

[('öğrenci1', ['orkun', 36, 'data science']), ('öğrenci2', ('bilkay', 25, 'python_developer'))]

('öğrenci1', ['orkun', 36, 'data science'])

In [89]:
dict_friend=dict(friend1 = "ali", friend2 = "veli", friend3 = "ebru")
print(dict_friend)
#dict_friend ["friend4"] gibi bir ifade "friend4" adında key olmadığı için hata verir.
dict_friend ["friend4"] = "Aytaç" #demekki key deitştirlemez ama olmayan bir key assign işlemi ile dictionary'ye ekleme yapılabilir.
dict_friend

{'friend1': 'ali', 'friend2': 'veli', 'friend3': 'ebru'}

{'friend1': 'ali', 'friend2': 'veli', 'friend3': 'ebru', 'friend4': 'Aytaç'}

In [90]:
del dict_friend["friend4"] #keyi sildik. Ayrıca bir listeye farklı keyler için birbiriyle aynı value'lar girebilirsin. ancak key'ler eşsizdir.birebir  aynı şekilde iki adet key bulunmaz
dict_friend

{'friend1': 'ali', 'friend2': 'veli', 'friend3': 'ebru'}

In [ ]:
sayilar = {"tek sayılar" : [], "çift sayılar" : []}
sayilar["tek sayılar"].extend(range(1,10,2)) #dictionary'deki bu indeksleme bir liste döndürdüğü için listeye ait methodlar sonrasında uygulanabildi.
sayilar["çift sayılar"].append(2)
sayilar["çift sayılar"].append(4)
sayilar["çift sayılar"].append(6)
sayilar["çift sayılar"].append(8)
sayilar

{'tek sayılar': [1, 3, 5, 7, 9], 'çift sayılar': [2, 4, 6, 8]}

In [92]:
### methods of dictionaries
dict_friend=dict(friend1 = "ali", friend2 = "veli", friend3 = "ebru")
print(dict_friend)
dict_friend.update({"friend_6" :"mehmet"} ) #update dictionary'inin içine yine bir dictionary formatı ile key-value ikilisi ekler. sıralama olmadığı için aslında herhangi bir yere ekler ancak biz sonunda görürüz.Varolan bir key ve yeni bir value yazarsan mevcut keydeki value'yu değiştirir.
bb = {"friend7" : "ada" }
dict_friend.update(bb )
dict_friend
#bb + dict_friend #dictionary'lerde matematiksel işlemler yapılamaz.

{'friend1': 'ali', 'friend2': 'veli', 'friend3': 'ebru'}

{'friend1': 'ali',
 'friend2': 'veli',
 'friend3': 'ebru',
 'friend_6': 'mehmet',
 'friend7': 'ada'}

In [ ]:
dict_friend.clear() #dictionary'yi ramden silmez içini boşaltır.
print(dict_friend)
empty_dict={}
print(empty_dict)
empty_dict2=dict()
print(empty_dict2)

{}
{}
{}

In [ ]:
dict_9 = {"öğrenci1" : ["orkun", 32, "data science"], "öğrenci2" : ["bilkay", 25, "python_developer"], }
dict_9.pop("öğrenci1") #içini boş bırakırsan dictionary'de sondakini silmiyor.hata veriyor.
dict_9 #pop() içine virgül koyarak ikinci bir key koyarsan yalnızca ilk keyin -value'sunu siler yalnızca, hata vermez. ayrıca dictionary'lerde bir sıralama yoktur. görüntüde sıralama yoktur. sıralı index mantığı da yoktu hatırlarsan.

{'öğrenci2': ['bilkay', 25, 'python_developer']}

### Nested Dictionaries

In [94]:
myfamily = {"child_1" : {"name" : ("Emily","rose"), "year": 2004},
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}
print(myfamily.items())
print(myfamily.keys())
print(myfamily.values())

dict_items([('child_1', {'name': ('Emily', 'rose'), 'year': 2004}), ('child_2', {'name': 'Tobias', 'year': 2007}), ('child_3', {'name': 'Linus', 'year': 2011})])
dict_keys(['child_1', 'child_2', 'child_3'])
dict_values([{'name': ('Emily', 'rose'), 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

In [ ]:
print(myfamily["child_1"])
print(myfamily["child_1"].items())
print(myfamily["child_2"]["name"])
myfamily["child_1"]["name"][1]

{'name': ('Emily', 'rose'), 'year': 2004}
dict_items([('name', ('Emily', 'rose')), ('year', 2004)])
Tobias

'rose'

## SETS(kümeler)

In [ ]:
# kümelerin en büyük özelliği içerisinde bir elemanı birden fazla barındırmaması. farklı data typelardaki elemanları verirsin.sadece aynı elemanı birden çok yazamazsın.
#mutable
#iterable
set() #set oluşturma yöntemleri.
{}

{}

In [ ]:
print(set("hello")) #bir elemanı birden fazla kez tutmadığı için fazlalıkları sildi, tek "l" var.alfabetik sıray agöre vermez normalde.
print(set("Techpro")) #kümeler unordered yapıdadır. bildiğimiz anlamda indekslemek mümkün değildir. farklı yol(?) var.

{'h', 'e', 'o', 'l'}
{'T', 'r', 'p', 'o', 'h', 'e', 'c'}

{'T', 'c', 'e', 'h', 'o', 'p', 'r'}

In [ ]:
{"blue", "green", "yellow", "blue", "green", "black"}

{'black', 'blue', 'green', 'yellow'}

In [ ]:
{"mikail", 25, True, 3.14,  (4,5,6)}

{(4, 5, 6), 25, 3.14, True, 'mikail'}

In [ ]:
{"mikail", 25, True, 3.14, [1,2,3], (4,5,6)} #kümeler içinde liste barındırmaz.tuple barındırabilir.listeye hata verdi.
{"mikail", 25, True, 3.14,  (4,5,6), {"name" : "sedat"}} #yine içine dictionary'de alamaz yine hata verdi
{"mikail", 25, True, 3.14,  (4,5,6), {"name", "sedat"}} #kümeler içine bir başka küme de alamaz

TypeError: unhashable type: 'list'

In [ ]:
empty_set = set() #boş küme oluşturmanın tek yolu
print(empty_set)
empty_set2 = {} 
print(type(empty_set2))
#set("sedat", "ali") #iki tane yazınca kümeye çevirmez. hata verir.

set()
<class 'dict'>

In [ ]:
#bir kırtasiyeci olduğunuzu düşünün
liste_sube1=["kalem", "silgi", "kağıt", "kalem ucu"]
liste_sube2=["silgi", "defter", "kağıt" ] #toptancıya gittiniz.hepsini bir arada sipariş vereceksiniz
set(liste_sube1 + liste_sube2)

{'defter', 'kalem', 'kalem ucu', 'kağıt', 'silgi'}

In [96]:
set_1= {True, False, 1, 5, 0.0, 3.5} #burada bizim yazdığımız sıra önemli. eşit gördüğü şeylerden ilkini alıyor.
set_2= {0.0, 1, True, False,  5,  3.5} #burada bizim yazdığımız sıra önemli. eşit gördüğü şeylerden ilkini alıyor.
print(set_1)
set_2

{False, True, 3.5, 5}

{0.0, 1, 3.5, 5}

In [ ]:
set_2[0] #kümeler iterable'dır ancak indexlenemez. çünkü belli bir sıra yok.

TypeError: 'set' object is not subscriptable

In [ ]:
list(set_2) #list fonksiyonu da hatta hatırlarsan iterable'larla çalışıyordu.

[0.0, 1, 3.5, 5]

In [ ]:
for i in set_2:
    print(i) #for döngüsü iterable alır. iterable olduğu için tek tek erişip listeledi.

0.0
1
3.5
5

In [106]:
set_a = set("suzan")
set_b = set("yavuz")
print(set_a)
print(set_b)

{'z', 'a', 'n', 's', 'u'}
{'z', 'a', 'y', 'v', 'u'}

In [ ]:
set_a.intersection(set_b)
set_a & set_b#itersection'ın işareti

{'a', 'u', 'z'}

In [ ]:
set_b.union(set_a)
set_a | set_b #union'ın işareti

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [ ]:
set_b.difference(set_a) 
set_b-set_a

{'v', 'y'}

In [ ]:
(set_a | set_b) - (set_b & set_a) #birleşimden kesişimin çıkmış hali
set_a.symmetric_difference(set_b) #birleşimden kesişimin çıkmış hali, tek bir meethod ile yapım.
set_a ^ set_b #birleşimden kesişimin çıkmış hali, kısayol

{'n', 's', 'v', 'y'}

In [107]:
set_3 = set("fıstık")
set_4 = set("fındık")
print(set_3)
print(set_4)

{'ı', 's', 't', 'k', 'f'}
{'ı', 'd', 'n', 'k', 'f'}

In [108]:
set_3.clear()
print(set_3)
set_4.remove("ı")
print(set_4)
set_4.pop() #rastgele bir elaman siler, sildiği elemanı da çıktı verir.
print(set_4.pop())
print(set_4)
set_3.add("a")
print(set_3)
set_3.update({"ali", "mert"})
print(set_3)

set()
{'d', 'n', 'k', 'f'}
n
{'k', 'f'}
{'a'}
{'mert', 'a', 'ali'}

In [ ]:
set_5= set("selin")
set_6= set("enes")
print(set_5)
print(set_6)

{'l', 'n', 's', 'e', 'i'}
{'s', 'n', 'e'}

In [ ]:
print(set_5.issubset(set_6))
print(set_6.issubset(set_5))

False
True