# 29.02.2024 TARİHLİ DERS

![Alt text](image-3.png)  
#kod doğruyken alınan böyle bir hata genelde jupyter ile ilgili oluyor. dosyayı kapatıp açmak veya run all tuşunun yanındaki restart'a basmak çözüm oluyor.

## Type Conversion

### all types to string:

In [3]:
age=32
type(age) #çıktısı int oluyor
str(age) #normaşde int olan age değişkenini string ifadeye çeviriyor.

'32'

In [4]:
type(age) #yukarıdaki kod bloğunda sadece age'in strye çevrilmiş halini sordum ama bunu age değişkenine atamadığım için age hala int veri tipinde

int

In [5]:
age=str(age)
type(age) #artık string

str

In [6]:
str(3.14)

'3.14'

In [7]:
str(True)

'True'

In [9]:
pi_number=3.14
type(pi_number) #çıktısı float
str(pi_number) #bu ifadeyi print(pi_number) şeklinde yazdırsaydık yalnızca 3.14 görecektik. çünkü print sadece değerini gösterir. türünü ifade eden herhangi bir ibare yazdırmaz.

'3.14'

In [10]:
type(pi_number ) #çıktısı hala float çünkü string haliini değişkene atamadın, sadece string halini sordun yukardaki kodda
pi_number=str(pi_number) #artık pi_number değişkeni string ifade oldu
type(pi_number)

str

### str to int:

In [13]:
age_1="33"
type(age_1) #burası str sonucu verir.
int(age_1) #string bir ifadenin integer a dönüşmesi için integer ifadeye benzemesi gerekiyor.

33

In [16]:
2024-int(age_1) #yaşı string olarak verilen birinin doğum yılını bulma.

1991

In [18]:
age_1=int(age_1)
2024-age_1 #yukarıdakinin aynısını age_1'i tekrar int değişken olarak atayıp yaptım.

1991

In [19]:
int("32a") #a ifadesi integera benzemeyi bozduğu için bu ifade hata veriyor

ValueError: invalid literal for int() with base 10: '32a'

In [15]:
age_2="3.14"
int(age_2) #noktalı sayı olması integer'a benzediği anlamını taşımaz. bu floata benzer dolaysıyla integer'a direkt çevrilmez.hata verir.

ValueError: invalid literal for int() with base 10: '3.14'

In [21]:
int("-30")

-30

### str to float

In [22]:
float("3.14")  #string bir ifadenin floata  dönüşmesi için float ifadeye benzemesi gerekiyor

3.14

In [23]:
float("3.14a")

ValueError: could not convert string to float: '3.14a'

### float to int:

In [24]:
int(5.4)
int(5.6) #int fonksiyonu yuvarlama yapmaz. noktadan sonrakini siler. bu iki ifadenin de sonucu 5'tir

5

In [11]:
int(6.99999999999999955) #bunun çıktısı 6 olur

6

In [29]:
float(5)

5.0

In [31]:
int(float("3.14")) #iç içe fonk. kullanımı. "3.14" ifadesi direkt int'e çevrilemezdi. bu nedenle önce floata sonra inte çevrildi.

3

### bool to int, bool to float

In [32]:
int(True)

1

In [34]:
float(False)

0.0

## Arithmetic Operators

In [37]:
3 + 5 #çıktısı 8
9 - 4 #çıktısı 5
8 * 5 #çıktısı 40 hepsi normal matematik işlemi.
40 / 10 #çıktısı 4.0. bölme işlemi her zaman float sonuç verir.

4.0

In [38]:
40 / 7

5.714285714285714

In [39]:
2.4 * 5 #aynı şekilde bir işlemde float bir değer var sonuç da float çıkar

12.0

In [41]:
25 / 3 #division    bölme işlemi varsa sonuç tam bir sayı çıksa dahi float cinsinden çıktı verir. örneğin 24/8' in sonucu 3 değil 3.0'dır.dolayısıyla yanında başka işlemler de olsa bir işlemde bölme varsa sonuç daima float cinsinden olur.

8.333333333333334

In [42]:
25 // 3 #floor division. bölme işlemindeki bölümü küsüratsız verir.

8

In [43]:
25 % 3 # modulus. bölme işlemindeki kalanı verir.

1

In [44]:
2 ** 3 # ifadesi üs alma işlemidir

8

In [45]:
25 ** 0.5 #bu şekilde kare kökü alabilirsin

5.0

In [46]:
27 ** (1/3) #küpkökü böyle alabilirsin

3.0

In [48]:
x=(4 + 2) ** (4 ** (1 * 2 / 2) / 2) #üs işleminin çarpma ve bölmeye göre önceliği vardır. çarpma ve  bölmenin birbirine üstünlüğü yoktur. soldan sağa okuma yapar.
print(x)

36.0

yarıçapı 7 olan bir dairenin alanının bılan python kodunu yazın.

In [52]:
pi = 3.14
#pi=int(pi) yaparak hesaplama yaparsak pi'yi düz 3 almış oluruz. 
r = 7 
alan = pi * r ** 2 #paranteze gerek yok zaten üs işlemi öncelikli.
print("yarıçapı 7 olan dairenin alanı = ", alan)
r = 5 #alanı tekrar hesaplatmadığım için ekrana son yazdığı şey r=7 iken hesaplanmış alan

yarıçapı 7 olan dairenin alanı =  153.86

In [57]:
pi = 3.14
r = 7 
alan = pi * r ** 2 
print("yarıçapı 7 olan dairenin alanı = ", alan)
r = 5 
alan = pi * r ** 2 #alanı tekrar hesapladığım için ekrana son yazdığı şey r=5 iken hesaplanmış inte çevrilmiş alan
print("yarıçapı 5 olan dairenin alanı = ", int(alan))

yarıçapı 7 olan dairenin alanı =  153.86
yarıçapı 5 olan dairenin alanı =  78

In [13]:
age = 32, name = "sedat" #hata verir böyle değişken tanımlanmaz.

### bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazın.

In [6]:
kenar_a = 6
kenar_b = 12
hipotenus= ((kenar_a ** 2) + (kenar_b ** 2)) ** (0.5)
print("bir kenarı 5, bir kenarı 12 olan dik üçgenin hipotenüsü:", hipotenus)

bir kenarı 5, bir kenarı 12 olan dik üçgenin hipotenüsü: 13.416407864998739

In [5]:
kenar_a = 6
kenar_b = 12
hipotenus= ((kenar_a ** 2) + (kenar_b ** 2)) ** (0.5)
print("bir kenarı 5, bir kenarı 12 olan dik üçgenin hipotenüsü:", round(hipotenus, 2)) #round fonksiyonu küsüratın atılmasını sağlar. normalde çıktısı 13.416407864998739 olan bir sayının noktadan sonra sadece 2 basamağının gösterilmesini istedim.

bir kenarı 5, bir kenarı 12 olan dik üçgenin hipotenüsü: 13.42

In [1]:
2.7*7 #normalde bu işlemin sonucu 18.9 iken phyton bazen böyle çok ufak küsüratlı garip sonuçlar verebiliyormuş. herekese buşekilde çıkmayabilrimiş. (?)

18.900000000000002

In [2]:
64 ** (1/3) #sonucun 4 olmasını beklersin ama programlama dilinin altyapıda bazı işlemleri bitlerle yapmasından kaynaklı bir sorun. çok takılma (?)

3.9999999999999996

# 30.01.2024 Tarihli Ders

## print() function

In [4]:
print("Mikail", "Serhan", "Mustafa") #print fonksiyonunun sep (seperator anlamında) adlı bir parametresi var ve bu default olarak boşluk karakteri olduğu için yazılan sıralı veriler arasına otomatik olarak boşluk atıyor.

Mikail Serhan Mustafa

In [6]:
print("Mikail", "Serhan", "Mustafa", sep="   ") #tab tuşu ile sep parametresine 3 boşluk karakter koydum.Dikkat et sona değil aralara koyuyor.bir tane değişken yazdırırsan yani hiç bir seperatör eklemez.Çünkü iki değişken arasına ekliyor.

Mikail   Serhan   Mustafa

In [7]:
print("Mikail", "Serhan", "Mustafa", sep="***")

Mikail***Serhan***Mustafa

In [8]:
print("Mikail", "Serhan", "Mustafa", sep="-and-") #syntax'a da dikkat et, sep string bir ifade gibi çalışır   sep="bla bla" şeklinde.

Mikail-and-Serhan-and-Mustafa

In [9]:
print("Mikail", "Serhan", "Mustafa", sep="\U0001F600")

Mikail😀Serhan😀Mustafa

In [10]:
help(print) #help fonksiyonu print ya da başka bir  fonksiyonunu çağırıp üzerine geldiğinde baloncukta yazan yardım bilgilerini göstermeye yarar.

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [11]:
print("Orkun")   
print("Sedat")
print("Aytaç") #print() fonksiyonunun end adlı bir parametresi vardır. default olarak değeri "\n" şeklindedir. yani değişkeni yazdırdıktan sonra sonuna new line eklediği için sonraki komut alt satıra geçip çalışır.

Orkun
Sedat
Aytaç

In [13]:
print("Orkun", end="**")   
print("Sedat")
print("Aytaç")

Orkun**Sedat
Aytaç

In [15]:
print("Betül", end="!")
print("Zeynep", end="*")
print("Mustafa", "Ali", sep="--", end="%%")

Betül!Zeynep*Mustafa--Ali%%

In [16]:
print("elma", "portakal", "armut", sep="\n")

elma
portakal
armut

# input() function

In [18]:
input() # input fonksiyonu dışardan veri almayı sağlar. aldığı değer default olarak string'tir.Girid vermezsen sonsuza kadar çalışır. değer girmeden esc'ye basarsan da boşluk karakteri girmişsin gibi olur.

'hiii'

In [19]:
int(input("yaşınızı rakam cinsinden giriniz: "))

28

In [20]:
age=int(input("yaşınızı rakam cinsinden giriniz: "))    #mesela 28'i yirmi sekiz şeklinde girsem hata verir.data type conversion konusunu hatırla. string'in int'e çevrilmesi için string ifadenin int'e benzemesi gerekir.
dogum_yili=2024-age
print("doğum yılınız: ", dogum_yili)

doğum yılınız:  1996

In [21]:
age_4=input("yaşınızı rakam cinsinden giriniz: ")  #inputu string olarak aldıktan sonra int'e çevirmek daha mantıklı. uygunsuz veri girişlerine karşı
age_4=int(age_4)
dogum_yili=2024-age
print("doğum yılınız: ", dogum_yili)

doğum yılınız:  1996

Kullanıcıdan kilo ve boy bilgisini alan ve girilen bilgilere göre vücut kitle indeksini hesaplayan kodu yazın.

In [27]:
boy = input("lütfen boyunuzu cm cinsinden giriniz: ") # cm cinsinden isteyip sonra m'ye çevirmenin mantığı kullanıcı küsüratı nokta ile değil de virgül ile girme ihtimaline karşı önlem almak. 
boy = int(boy) / 100
kilo = input("kilonuzu kg cinsinden küsüratsız giriniz: ")
kilo = int(kilo) 
vki= (kilo / boy ** 2)
print(vki)

24.023808670084982

#

escape sequances bir kodun çalışmasını engelleyen durumların önüne geçmek için varolan bazı karakterlerdir.

In [28]:
print('I'm a python teacher')

SyntaxError: unterminated string literal (detected at line 1) (256345490.py, line 1)

In [29]:
print('I\'m a python teacher') #ters slash \ ifadesi kendinden sonraki karakteri adlar. yani kodlamadaki anlamını atlar string gibi görür.

I'm a python teacher

In [30]:
print("Bu ders çok uzadı. \nBir an önce bitse mi acaba?") #bir alt satıra geçebilmek için """ """ ifadesini kullanmıştık. bu da bir yöntemi.\n ifadesi bir alt satıra geçmeye yarar.

Bu ders çok uzadı.
Bir an önce bitse mi acaba

In [33]:
print("Bu ders çok uzadı.", "Bir an önce bitse mi acaba?", sep="\n")
print("""Bu ders çok uzadı. 
Bir an önce bitse mi acaba?""")

Bu ders çok uzadı.
Bir an önce bitse mi acaba?
Bu ders çok uzadı.
Bir an önce bitse mi acaba?

In [35]:
print("Bu ders çok uzadı.", "Bir an önce bitse mi acaba?", sep="\t") #\t bir tab tuşu boşluk koymaya yarar.
print("Bu ders çok uzadı.\tBir an önce bitse mi acaba?")

Bu ders çok uzadı.	Bir an önce bitse mi acaba?
Bu ders çok uzadı.	Bir an önce bitse mi acaba?

In [36]:
print("Bu ders çok uzadı.\bBir an önce bitse mi acaba?") #\b kendinden önceki bir karakteri siler. bir backspace tuşuna denktir.
print("Bu ders çok uzadı.\b\bBir an önce bitse mi acaba?")

Bu ders çok uzadıBir an önce bitse mi acaba?
Bu ders çok uzadBir an önce bitse mi acaba?

In [37]:
print("Betül", "Ayşe", "Aytaç", sep="\b")

BetüAyşAytaç

In [38]:
print( r"Bizde geri \nvites olmaz") # eğer r var ise içerdeki ifadeyi olduğu gibi yazdırır.escape sequances'ların escape'i :)

Bizde geri \nvites olmaz

kullanıcıdan celcius bilgisini alın ve fahrenheit'a çevirin

In [44]:
celcius = input("lütfen ortam sıcaklığını celcius cinsinden giriniz. Küsürat için '.' kullanınız: " )
celcius = float(celcius)
fahrenheit = celcius * 1.8 +32
print("girmiş olduğunuz \"", celcius, "\" şeklindeki celcius değerinin fahrenheit cinsinden karşılığı: ", round(fahrenheit, 1), sep="")

girmiş olduğunuz "24.5" şeklindeki celcius değerinin fahrenheit cinsinden karşılığı: 76.1

# 31.01.2024 tarihli ders mentoring tanıtım yapıldı

# 01.02.2024 tarihli ders

sürüme bağlı olarak değişmekle birlikte phyton'ın 70'e yakın built-in functionı var. yani yazdığımız anda çalışacak komutlar. Print(), İnput() gibi functionlar.

round() fonksiyonu yuvarlama da yapar.

## Comparison Operators

In [1]:
print(5>4)
5<8

True

True

In [3]:
type(3 == 3)

bool

In [4]:
sifre="1234"
kull_girisi= input("Şifrenizi giriniz: ") #2345 gibi eşleşmeyen değer girdiğimde
sifre==kull_girisi

False

In [8]:
print(3<=4)
print(4!=4)

True
False

In [7]:
6=<6 #operator yazarken sıralama önemli, büyüktür işareti önce eşittir işareti sonra

SyntaxError: cannot assign to literal (601329479.py, line 1)

In [9]:
# <, <, <=, >=, ==, != karşılaştırma operatörleridir

In [10]:
True > 0.6

True

In [11]:
"sedat">"istanbul" #ascii tablosuna göre bakar. ascii tablosundaki sayısal karşılığa göre ilk karakterlerde s>i ise true döndürür. değilse false döndürür.Büyük küçük harf olması ascii tablosundaki değeri değiştirir.

True

In [14]:
"sedat" == "sedef" # ilk harfler aynıysa ikinci harfe o aynıysa 3. harfe bakar şeklinde ilerler.farklı olan karakterdeki karşılaştırmanın sonucunu verir. zaten tüm karakterler aynıysa true döndürür.

False

In [17]:
ord("a") #ord() fonksiyonu içine yazılan karakterin ascii değerini döndürür.String içine iki karakter yazdığında hata verir.

97

In [20]:
chr(100) #chr() fonksiyonu içine yazılan sayısal ascii değerin hangi karaktere denk geldiğini ifade eder.

'd'

## Boolean

In [21]:
bool("sedat") #ayni int("32") şeklindeki bir fonksiyon gibi çalışır. içindeki değeri boolean'e çevirir.

True

### 0, 0.0, "", (), [], {}, None, False->False şeklindeki tüm ifadeler "False" tur. bunların dışındakiler True'dur.

In [23]:
bool("")

False

In [24]:
bool(" ")

True

In [25]:
bool(0.000001)

True

In [26]:
bool(-20)

True

## Logic Expressions

In [28]:
5 >= 5 #(5>5) or (5==5)

True

### işlem önceliği:
### 1-not -- işlem sonucu her zaman True veya False'tur. 
### 2-and -- hepsi true ise en sondaki elemanı döndürür. bir tane bile false varsa ilk gördüğü false'u döndürür.
### 3-or  -- hepsi false ise en sondakini döndürü. bir tane bile true varsa ilk gördüğü true'yu döndürür.

## not:

In [31]:
not False

True

In [32]:
not "irem"

False

## and

In [33]:
5 and 8 #en sondaki true'yu yazdırır

8

In [34]:
5 and 0 and 8 #falsy ya da truthy ifadeler

0

In [37]:
"irem" and "serhat" and False and 0 #ilk gördüğü falseu döndürür.

False

In [36]:
"" and 0 and False

''

## or

In [41]:
0 or False or "" #hepsi false olduğu için sondaki false'u döndürür.

''

In [40]:
1 or [] or () #ilk gördüğü True'yu döndürür.

1

In [42]:
#bütün koşullu durumların true olmasını istiyorsak and kullanırız.
#koşullardan bir tanesinin doğru olması yeterliyse or kullanırız.

In [43]:
False or 5 and not 0 # işlem önceliği not'ta, not daima boolean döndüreceğinden burada 0'ın değili true.sonra işlem önceliğine göre ilerledi.

True

In [44]:
3.14 or True

3.14

In [45]:
True or 3.14

True

In [46]:
False or not 0 and 6 and "kahoot"

'kahoot'

In [47]:
"None or 1"

'None or 1'

In [48]:
True or False and not 0 and 3 or False

True

# 02.02.2024 tarihli ders

### genel tekrar yaptı derste biraz alıştırma gibi

## Strıngs

### index and slicing

In [1]:
#immutable (değiştirilemez) stringler immutable'dır. değiştirilemez. Ancak baştan yeni değer atanabilir (?)
#iterable (yenilenebilir) string ifadenin tüm karakterlerine tek tek ulaşıp değiştirebiliyosam iterable'dır.

In [2]:
name="Techpro Education"

In [3]:
name [0] #indeksler 0'dan başlar ve soldan giderler. mesela bunun en sonuncu indeksi 16'dır. boşlukta bir indekstir.

'T'

In [4]:
name[7] #boşlukta bir indekstir.

' '

In [1]:
""[0] #ancak boş bir string'in indeksi hata verir.

IndexError: string index out of range

In [5]:
"Betül" [3]

'ü'

In [6]:
name [16]

'n'

In [7]:
name [-1] #tersten sayfadır. sondan birinci karakter demektir.- dediğinde sağdan sola yani sondan başa doğru sayarsın.

'n'

In [8]:
name[-17]

'T'

In [9]:
"Techpro" + " Education" #stringler toplanabilir. ancak sadece string+string olarak toplanabilir.

'TechproEducation'

In [10]:
"Techpro" * 3 #stringler intiger ile çarpılabilir. çarpmadan kasıt çarpılan sayı kada yan yana yazmak.

'TechproTechproTechpro'

In [13]:
"3"*3

'333'

In [11]:
"Techpro" * 3.5 #stringler float ile çarpılamaz. hata verir

TypeError: can't multiply sequence by non-int of type 'float'

In [12]:
"Techpro" - "pro" #stringler ile çıkarmaişlemi yapılamaz.

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
name

'Techpro Education'

In [15]:
name[4]+name[5]+name[6]

'pro'

In [16]:
name[4:7] #name değişkeninde 4'ten başla 7'ye kadar yaz diyorum. 7 dahil değil dikkat et.

'pro'

In [17]:
"Techpro" [4:7] #son indeks 6 iken 7 yazdık. buraya 100'de yazsak çalıştırırdı. son noktanın çok da önemi yok. fala olsa da çalıştırır. ama ilk karakterin önemi var.

'pro'

In [18]:
"Techpro" [7] #ilk noktaya hata vermesinin sebebi o karaktere ulaşamadığı için hata veriyor.ama slicing dediğimiz bir aralığı alırken o aralık yopksa dahi hata vermiyor.

IndexError: string index out of range

In [19]:
"Techpro" [8:12] #bu aralık mevcut olmadığı halde hata vermedi. boş string döndürdü.bir yukardaki örnekle karşılaştırarak incele.

''

In [21]:
"techpro" [1:5:2] #[start:stop:step şeklinde çalışır.]

'eh'

In [23]:
"techpro" [0:6:3]

'th'

In [24]:
"techpro" [:6:3] #ilk adıma bir şey yazmazsan default değer olan sıfırı alır.

'th'

In [25]:
"techpro" [::3] #ikinci adıma hiçbir şey yazmazsan default değer olarak son indisi alır. ancak bu son indisi dahil ederek alır. buna dikkat et.

'tho'

In [27]:
"techpro" [::] #step içinde varsayılan 1 olduğu için tüm adımlar için defaultu alır

'techpro'

In [28]:
"techpro" [::2]

'tcpo'

In [29]:
"techpro" [:2:]

'te'

In [30]:
"techpro education" [:9:3]

'tho'

In [31]:
"techpro education" [::-1]

'noitacude orphcet'

In [32]:
"techpro education" [::-2]

'niaueopct'

In [33]:
"techpro" [1:5:-1] #bu boş küme gösteriyor. çünkü start noktam 1 stop noktam 5. indis. stepe -1 dediğimde start noktasından başlar ters yönde yani sola doğru 1 1 gider ve bu işlemi start-stop aralığında yapar. stop noktası sağda kaldığı için bu aralığı bulamaz ve boş string döndürür.

''

In [34]:
"techpro" [::-2] #şu örnekte sen start ve stopa hiç bir şey yazmadığında phyton geri okuma yapacağı için startın default değerini stop'a, stop'un default değerini start'A atar. bu nedenle boş küme döndürmez.yani[6:0:-2] görür. ancak ikinci basamağa sen dğer atamadığın için sistem otomatik değer atamış olduğu için dahil olarak alır.Alttaki örnekle karşılaştır.

'opct'

In [36]:
"Techpro" [6:0:-2]

'opc'

In [37]:
"Techpro" [5:1]

''

In [38]:
"Dülgeroğlu" [2:8:-2]

''

In [39]:
"Dülgeroğlu" [8:2:-2]

'loe'

In [40]:
"Techpro" [1:1] #önemli örnek!!!

''

In [41]:
name

'Techpro Education'

In [42]:
name[2:6]

'chpr'

In [43]:
name #string'lerin immutable olması. yaptığım işlemler sonucu name string değişkeni değişmedi.ancak tekrar atama yapmam lazım değişmesi için.

'Techpro Education'

In [44]:
name=name[2:6] #atama yapınca tekrar name değişkeni değişti artık.

In [45]:
name

'chpr'

## String Methods

### method fonksiyon gibi parantez aç kapa ile çağırarak oluşturulur. methodun fonksiyonddan farkı tek başına çalışmıyor oluşu. herhangi bir ifade ya da değere bağımlı olarak kullanılır. en çok methodu olan değişken türü stringtir.

### lower, upper, capitalize, swapcase, title

In [47]:
"techpro".upper ()#tüm karakterleri büyültür. karakter büyükse hiçbişey yapmaz.

'TECHPRO'

In [48]:
'TECHPRO'.lower() #tüm karakterleri küçültür. karakter küçükse hiçbişey yapmaz.

'techpro'

In [49]:
"techpro".lower()

'techpro'

In [50]:
upper("techpro") #mesela fonksiyon gibi tek başına çalışamadı.stringe bağlı bir fonksiyon olduğu için method diyoruz.

NameError: name 'upper' is not defined

In [51]:
name="techPRro"

In [69]:
name.capitalize() #stringin yalnızca ilk karakterini büyültür.ama büyük olan diğerlerini de küçültür.

'Techpro'

In [57]:
"techpro education".capitalize()

'Techpro education'

In [68]:
"techpro education".title() #her kelimenin ilk harfini büyük yapar. ancak kelime içinde başka büyük harf varsa onları da küçültür.

'Techpro Education'

In [70]:
"teCHpro eduCAtion".title()

'Techpro Education'

In [53]:
name="TeChPrO"

In [54]:
name.swapcase() #büyükleri küçük küçükleri büyük yapan method

'tEcHpRo'

In [58]:
"emre"[0:2]

'em'

In [62]:
"emre"[2].upper() #veya "emre".upper()[2]

'R'

In [61]:
"emre"[3]

'e'

In [64]:
"emre"[0:2] + "emre"[2].upper()+ "emre"[3]

'emRe'

In [67]:
"emre"[0:2]+"emre"[2:].capitalize()

'emRe'

# 03.02.2024 Tarihli Ders

### replace

In [2]:
"tech?pro".replace("?", "")

'techpro'

In [4]:
"?serhan?murat?".replace("?", "*")

'*serhan*murat*'

In [6]:
"?serhan?murat?".replace("?", "*", 2) #ilk ikisini değiştirdi yalnızca

'*serhan*murat?'

In [7]:
"?serhan?murat?".replace("?", "*", -2) #varsayılan değer -1'dır. -1de hepsini değiştirir. tüm eksili rakamlarda da hepsini değiştirir.

'*serhan*murat*'

In [9]:
help(str.replace) #string fonsiyonunun replace methodu için yardım.

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [10]:
"?serhan?murat?".replace("?", "*", count=2) #demek ki countu bu şekilde ifade etmek hata veriyomuş.

TypeError: str.replace() takes no keyword arguments

In [11]:
"?serhan?murat?".replace("?", "*", 5) #count değeri var olan değişiklikten fazla olsa da hata vermez.

'*serhan*murat*'

In [12]:
"?serhan?murat?".replace("?", "*", 5).replace("a", "ü").title()

'*Serhün*Murüt*'

In [13]:
"?serhan?murat?".replace("?", "*", 5).replace("a", "ü").title().replace("*", "!") #sonuç string kaldığı müddetce birden çok string methodunu arka arkaya çalıştırabilirsin.

'!Serhün!Murüt!'

## is ile başlayan methodlar

In [14]:
"techpro".isalnum() #bu ifade alfanumerik mi? alfabetik ve numerik karakterlerden mi oluşuyor.

True

In [15]:
"techpro99".isalnum()

True

In [17]:
"techpro-99".isalnum() #- işareti bir punctuations, alnum'a girmiyor.

False

In [23]:
name=input("isminizi girin: ")

In [24]:
name

'İREM'

In [25]:
name.islower()

False

In [26]:
name.istitle()

False

In [29]:
"techpro99".isalpha() #numerik karakterler de var. false o yüzden.

False

In [14]:
"1234".isdigit() #is numeric is digit is decimal hepsi birbirinin aynısı gibi detayını öğrenmek için bakabilirsin.çok küçük nüansları var.

True

### count()

In [30]:
"techpro Education".count("e")

1

In [31]:
"techpro Education".count("ö")

0

In [32]:
"techpro Education".count("pr")

1

In [33]:
"techpro Education".count("pr", "e") #hata verir

TypeError: slice indices must be integers or None or have an __index__ method

In [38]:
"techpro".replace("e", "a", 1).title().count("ch") #sonuç int olduğu için string methodlara devam edilemez.

1

In [39]:
"techpro".replace("e", "a", 1).title().count("ch")*5

5

In [15]:
"techpro".replace("e", "a", 1).title().isalpha()*3

True

In [42]:
str_1="kimseyi arkada bırakmadık"

In [43]:
str_1.count("ad")

2

In [45]:
str_1.count("") #karakter sayısı+1 çevirir.bunun nedeni imlecin duraksadığı nokataları yani"" nooktaları sayması gibi.

26

In [46]:
str_1.count(" ") #mesela yazdığın stringte kaç kelime olduğunu bulmak istiyosan çıkan sonuç + 1 dersin.

2

In [47]:
len(str_1) #karakter sayısı çevirir.

25

In [21]:
"techpro education".count("ö" and "o") #o'ya baktı 1 döndü ilk ifadeyi verdi.

2

In [16]:
"techpro education".count("ö" or "o") #p'ye baktı 0 döndü ilk  ifadeyi verdi.

0

In [50]:
"techpro education".count("k" or "c") #k'ya baktı 0 döndü ilk ifadeyi aldı.ilk true'yu aramadı yani.

0

## split()

In [52]:
str_2= 'Techpro is the best course in the world'

In [53]:
str_2.split() #stringe ait bir method ve liste döndürür.

['Techpro', 'is', 'the', 'best', 'course', 'in', 'the', 'world']

In [55]:
str_2.split("o") #o ların olduğu yerden keserek böldü. o dan sonraki boşluğu silmedi ama.demek ki defaultu " " stringidir.

['Techpr', ' is the best c', 'urse in the w', 'rld']

In [56]:
str_2.split("g") #karakteri bulamadığı için string ifadeyi bütün olarak list'in içine gönderdi.

['Techpro is the best course in the world']

In [58]:
type(str_2.split("o"))

list

In [57]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \n \r \t \f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [60]:
str_2.split().count("the") #str_2.split() ifadesinin döndürdüğü liste olduğu için burdaki count string'e değil list'e ait bir metod.

2

In [61]:
str_2

'Techpro is the best course in the world'

In [62]:
str_2.split("o")

['Techpr', ' is the best c', 'urse in the w', 'rld']

In [63]:
str_2.split("o", maxsplit=2) #o'nun olduğu yerden maksimum 2 tane kes dedim.dolayısıyla sondaki o'yu kesmedi.

['Techpr', ' is the best c', 'urse in the world']

In [64]:
str_2.split("g", maxsplit=2)

['Techpro is the best course in the world']

In [65]:
str_2.split("g", 2) #bazı metodlarda maxsplit şeklindeki ifadeleri yazmazsan kabul etmez. ama bazen kabul eder burdaki gibi

['Techpro is the best course in the world']

### strip()

In [66]:
"     Techpro      ".strip()

'Techpro'

In [67]:
"     Tech    pro      ".strip() #strip metodu baştaki ve sondaki spaceleri temizler.

'Tech    pro'

In [69]:
"???Tech??pro???".strip("?") #baştaki ve sondaki ? işaretlerini sil demek.

'Tech??pro'

In [70]:
"???Tech??pro???".rstrip("?") #right strip demek.sağdaki sondaki soru işaretlerini sil.

'???Tech??pro'

In [72]:
"???Tech??pro???".lstrip("?") #right strip demek.soldaki sondaki soru işaretlerini sil.

'Tech??pro???'

In [74]:
"techpro is tehe bessttsst".strip("t")

'echpro is tehe bessttss'

In [76]:
"techpro is tehe bessttsst".strip("ts")#bu örnekte s'yi arar t'yi arar, ts'yi arar st'yi ara bütün versiyonlarını kontrol eder ve siler.

'echpro is tehe be'

In [ ]:
"techpro is tehe bessttsst".strip("tse")