# 26.01.2024 TARİHLİ DERS

herhangi bir kod satırına tıklamamışken b tuşuna basmak yeni bir kod bloğu oluşturur.
çalıştırmanın kısa yolu ctrl+alt+enter tuşudur.
shift+enter ise hem kod bloğunu çalıştırır hem de bir alt kod bloğunu oluşturur.
dosyayı ilk oluşturduğunda sağ üste tıklayıp kernel'i python olarak seçmelisin.
markdown satırında  # işareti koyup boşluk bırakıp satırı çalıştırırsan  en büyük başlık yapar, sırasıyla iki ya da üç # koyup boşluk bırakıp yazarsan aşama aşama başlık küçülür.

In [2]:
print("hello world") #phyton case sensitive bir dildir. Print() kodu çalışmaz mesela. ayrıca string ifade parantez içinde mutlaka tırnak içinde yazılmalıdır.

hello world

In [3]:
print("""hello
      world""") #3 çift tırnak ya da 3 tek tırnak önemlii!!!

hello
      world

markdown kodda çalışması beklenmez. tam olarak yorum satırı değildir. html kodları vs. için de kullanılır(?)

In [5]:
print(""hello
      world"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3221483633.py, line 1)

In [6]:
print('hello world')

hello world

In [7]:
print("I'm a teacher") #kodu yandaki soldaki play tuşundan çalıştırabileceğin gibi ctrl+alt+enter ya da shift+enter kısayolları ile de yapılabilir.
                        #shiftli olan da alt satıra da geçiyor ama, satır ekliyor.

I'm a teacher

In [12]:
print('I'm a teacher')

SyntaxError: unterminated string literal (detected at line 1) (2823495830.py, line 1)

In [11]:
print() #fonksiyon çağırırken parantez mutlaka olmalı. yoksa fonksiyonu çağıramazsın.

In [14]:
print("I'm a) teacher") #tırnağın içi artık string ifade ne yazarsan onu görür. yarım parantez hata vermez.

I'm a) teacher

# 27.01.2024 TARİHLİ DERS

bir kodu yazdığında, atama yaptığında çalıştırıp çalıştırmadığını kontrol et. çalıştırmadıysan yazmadın demektir :)

In [16]:
print("'techpro'")

'techpro'

In [17]:
print("'")

'

In [3]:
print(""""'""") #eğer 3 tırnak yazarsan başa tamam ben 3 tırnakla başlamışım der.

"'

19. satır için açıklama görselidir.

![Alt text](image.png)

In [19]:
print(""""""") #phyton okuma mantığında ilk üç tırnağı algılıyor. sonraki üç kapatma tırnağını arıyor. bulduğu an kapatılmış diye düşünüyor. sonda kalan tırnak string olarak algılanmadığı için hata veriyor.

SyntaxError: unterminated string literal (detected at line 1) (3465750001.py, line 1)

In [4]:
print("""""""") #phyton okuma mantığında ilk üç tırnağı algılıyor. sonraki üç kapatma tırnağını arıyor. bulduğu an kapatılmış diye düşünüyor. sonda kalan tırnaklardan ilkini alıyor, ikincisini kapatma tırnağı kabul etttiği için hata vermiyor ancak boş bir çıktı üretiyor.

# pep8 Kuralları

phytonda yazılan kodların tamamen iyi görünmesi için yapılması gereken kurallardır. kısacası clean code kurallarıdır. 
bakınız: https://peps.python.org/pep-0008/

In [ ]:
3 + 6 #kodların arasına boşluk koy.

In [ ]:
print(""" pep 8 der ki; bir satırda 79 karakterden fazlası olmasın. 
      eğer olursa üç tırnak yardımıyla enter yaparak birden fazla satıra bunu dağıtırsın""")

# comment

comment gerekli ve açıklayıcı olmalıdır.

# variables

In [22]:
print("techpro education")

techpro education

In [23]:
course="techpro education"

In [24]:
print(course)

techpro education

In [29]:
print(name) #değişken tanımlandıktan sonra alt satırlarda çalışır. en azından ipynb dosyasında. alt satırda tanımlayıp çalıştırıp üst satıra gelip üst satır çalıştırınca çalıştırır. değişkeni üstte tanımlayıp altta print yazabilrisin ancak değişkeni tanımladığın satırı çalıştırmazsan yine değişkeni görmez.

irem

In [27]:
name="irem"

In [28]:
print(name)

irem

In [30]:
print(age_1)
age_1=45

NameError: name 'age_1' is not defined

In [31]:
age_2=85
print(age_2)

85

In [32]:
name_1="Orkun"
name2="Serhan"

In [33]:
print(name_1)
print(name2)

Orkun
Serhan

In [34]:
pi_number=3.14

In [35]:
pi-number=3.14 #böyle bir isimlendirme yapamazsın.matematikteki çıkarma işlemi gibi görür.

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2582190530.py, line 1)

In [40]:
name_3="emre"
4_name="ali" #değişken tanımlarken _ dışında semboller kullanılamaz. ayrıca numerik karakterler başta kullanılamaz.
$name="bahar"
name$="bahar"

SyntaxError: invalid decimal literal (3149575165.py, line 2)

In [42]:
name_5="aytaç"
name_6="erkan"
age_3=33
print(name_6, name_5, age_3) #değişkenleri print ile tek satırda yazmak için değişken adları arasına virgül koymak zorundasın.

erkan aytaç 33

In [5]:
name_7, name_8= "mustafa", "ceren"
print(name_7, name_8)

mustafa ceren

In [44]:
name_9, name_10="Kadir, Betül" #değişkenlerinden yalnızca birine değer atandığı için hata verdi.

ValueError: too many values to unpack (expected 2)

In [45]:
name_11, name_12="Sümeyye", "Sümeyye"

In [48]:
name_13 = name_14 = "ahmet"
print(name_13, name_14)

ahmet ahmet

# Data Types

In [6]:
"hello world" #string  jupiter notebookta print yazmadan da gösterir değeri.print yazdığı şeyin data typenı gösterecek bişey yapmaz ama. mesela bir            stringi tırnak içinde yazdırmaz direkt yazdırır
"35" #bu da string

'35'

In [52]:
type("hello world") #type ifadesi parantez içine yazılan şeyin veri türünü göstermeye yarar.

str

In [53]:
type("35")

str

In [54]:
type(name)

str

In [55]:
age_4=25
type(age_4)

int

In [56]:
negative_number=-35
type(negative_number)

int

In [57]:
kesirli_sayi=6.7
type(kesirli_sayi)

float

In [58]:
type(pi_number)

float

In [59]:
type(3.14)

float

In [61]:
pi_number_2=3,14
type(pi_number_2) #noktayla değil de virgülle bir sayı yazdığında type'ı tuple oluyor. ilerleyen zamanda gösterilecek.

tuple

In [62]:
type(3,14) #bu ifade de virgül yazıldığında ise sanki içinde virgülle ayrılmış 2 farklı değer var gibi gördüğü için hata verir

TypeError: type() takes 1 or 3 arguments

In [63]:
1,000,000 #büyük değerleri yazarken virgül koyma.

(1, 0, 0)

In [64]:
1.000.000 #büyük değerleri yazarken nokta koyma. ilk nokta ifadeyi float yaparken 2. nokta tanımlananamadığı için hata verir.

SyntaxError: invalid syntax (3957485859.py, line 1)

In [7]:
"ali", "ayse", "veli"

('ali', 'ayse', 'veli')

In [66]:
type(False)

bool

In [ ]:
type(true) #hata verir. boolean ifade büyük harfle başlar.

In [67]:
araba="renault" #bu kodu çalıştırdım. sonra satırı sildim. bu değer silinmiş olmaz. print ettiiğimizde yine yazdırır.1.si dosyayı kapattığımda ram bellekten silinir. tekrar atanması için kodu çalıştırmam gerekir

In [68]:
print(araba)

renault

In [69]:
araba="citroen" #en son atanan değer geçerlidir.
print(araba)

citroen

In [70]:
del araba # bu kod araba değişkenini siler ram'den

In [71]:
print(araba)

NameError: name 'araba' is not defined

In [ ]:
arabanin_yasi=3  #type integer
arabanin_kilometresi=1250.4 #type float
arabanin_kazasi=False #type boolean
arabanin_kazası_2="False" #type string