# 05.02.2024 tarihli ders

## if, elif, else statement

In [1]:
if 5 >2:
    print("5, 2'den büyüktür. ") #if ifadesindeki koşuldan sonra genel yapılacaklar listesi 4 boşluk girintili başlamalı.ipynb de tek girinti de  de çalışabilir ancak birçok editörde çalışmaz.

5, 2'den büyüktür.

In [3]:
if True:
    print(8*4) #if'deki espri if değerin yanındaki koşulun true olması.true olduğu sürece çalışır.

32

In [5]:
if 1:
    print(8*4)

32

In [6]:
if "irem":
    print(8*4) #koşul truthy değer olduğunda da çalışır.

32

In [7]:
if 5 < 2:
    print("bu kod boolean sonuç False olduğu için çıktı alamayız")

In [8]:
if 8 == 8:
print("acaba çıktı verir mi?") #girinti meselesine takıldı.syntax'a iften sonra çift nokta olmasına vs. dikkat et.

IndentationError: expected an indented block after 'if' statement on line 1 (2533750027.py, line 2)

In [2]:
if (8 == 8):
    {
    print("acaba çıktı verir mi?") #kendi denemen. c# taki syntax'a da cevap veriyomuş. ama hiç tab olmadan cevap vermiyor. süslü de girinti ile başlamalı yani.
    }

acaba çıktı verir mi?

In [12]:
if 5 < 4:
    print("5, 4 ten küçüktür. ")

print("if çalışsada çalışmasa da ben çıktı veririm") #bu ifade de girinti olmadığı için if bloğu içinde değil.

if çalışsada çalışmasa da ben çıktı veririm

In [13]:
if 10 > 3:
    print("10, 3 ten büyüktür") 
    print(10 - 3)
    print(10 * 3)
    age = 10 * 3 - 2
    print(age) #girinti devam ettiği sürece hepsi if bloğu içinde.

10, 3 ten büyüktür
7
30
28

In [14]:
age # if bloğu içinde tanımlanan değişken if bloğu dışında da geçerlidir.c#ta böyle değildi sanki?

28

In [16]:
x = 8
if x < 5:
    print("if kısmı çalışır")
else:
    print("else kısmı çalışır") #elif ve else ifadeleri firintili değil if ile aynı hizada dikkat et.

else kısmı çalışır

In [18]:
x = 8
if x < 5:
    print("if kısmı çalışır")
    else:
    print("else kısmı çalışır") #elif ve else ifadeleri firintili değil if ile aynı hizada dikkat et.

SyntaxError: invalid syntax (1807479512.py, line 4)

In [17]:
x = 8
if x < 8:
    print("if çalışır")
elif x == 9:
    print("1 inci elif çalışır")
elif x > 10:
    print("2 nci elif çalışır")
elif x < 10:
    print("3 üncü elif çalışır")

3 üncü elif çalışır

In [22]:
x = float(input("lütfen 0 ile 50 arasında bir sayı girin"))
print(x)
if x < 10:
    print("sayı 10 dan küçüktür")
elif x < 35:
    print("sayı 35 ten küçüktür")
elif x <= 50:
    print("sayı 50 e eşit veya  küçüktür")
else:
    print("sayı 0 ile 50 arasında değil.")

52.0
sayı 0 ile 50 arasında değil.

kahoot. 15 soru. 5 ve altı doğru ise "dahi misin",
10 ve altı ise "şaka mısın sen"
15 ve altı ""süpersin"
doğru değer girilmezse else ile yanlış bir değer girdiğini belirtelim

In [26]:
ds = int(input("Son kahootta 15 soru vardı. siz kaç doğru yaptunız."))
print (ds)
if 0 <= ds <= 5:
    print("dahi misin")
elif 5 < ds <= 10:
    print("şaka mısın sen")
elif 10 < ds <= 15:
    print("süpersin")
else:
    print("Girdiğiniz değer 0 ile 15 arasında değil.")

16
Girdiğiniz değer 0 ile 15 arasında değil.

# LISTS

In [27]:
#mutable : değişebilir
#iterable :yinelenebilir

In [28]:
# iki farklı yöntemle liste oluşturulabilir.
bos_liste=list()

In [29]:
bos_liste

[]

In [30]:
liste_1= [ 1, 2.5, True, "irem", [1,2,3,4,], bos_liste]

In [31]:
liste_1

[1, 2.5, True, 'irem', [1, 2, 3, 4], []]

In [33]:
len(liste_1)

6

In [32]:
bos_liste = list("Techpro")

In [34]:
bos_liste

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [35]:
len(1453)

TypeError: object of type 'int' has no len()

In [36]:
len("irem")

4

In [37]:
liste_2 = [list("mehmet")] 
liste_2

[['m', 'e', 'h', 'm', 'e', 't']]

In [38]:
bos_liste_2 = []

In [39]:
type(bos_liste_2)

list

In [41]:
liste_3 = ["Fulya, Mustafa, Zeynep, Bilkay"]
len(liste_3)

1

In [43]:
liste_8 = ["Mehmet", 5, "Aslan", 5, "Mehmet", "mehmet", 5.0]
print(liste_8)
print(len(liste_8))

['Mehmet', 5, 'Aslan', 5, 'Mehmet', 'mehmet', 5.0]
7

In [44]:
liste_9 = list(1545)
len(liste_9)

TypeError: 'int' object is not iterable

In [45]:
liste_10 = list("Ali", "Murat")
liste_10

TypeError: list expected at most 1 argument, got 2

In [46]:
print("Ali" + "Murat")

AliMurat

In [47]:
liste_10 = list("Ali" + "Murat")
liste_10

['A', 'l', 'i', 'M', 'u', 'r', 'a', 't']

In [48]:
ortaya_karışık = [3, 4.4, "Orkun", False, [1, 2, 3, 4, 5]]
ortaya_karışık[0]

3

In [50]:
ortaya_karışık[1:4:3]

[4.4]

In [51]:
ortaya_karışık[2].upper()

'ORKUN'

In [52]:
ortaya_karışık[2].upper().count("R")

1

In [53]:
ortaya_karışık[4]

[1, 2, 3, 4, 5]

In [54]:
ortaya_karışık[4][3]

4

In [55]:
ortaya_karışık = [3, 4.4, "Orkun", False, [1, 2, 3, 4, 5]]

In [56]:
len(ortaya_karışık[2])

5

In [57]:
str(ortaya_karışık[1])

'4.4'

Ödev2:
1 - Kullanıcıdan bir sayı alın.
2 - Bu sayı 3 e bölünebiliyorsa "Tech",
3 - 5 e bölünebiliyorsa "Pro",
4 - Hem 5 e hem de 3 e bölünebiliyorsa "Techpro" yazdırın.
5 - sayı bu şartların hiç birini sağlamıyorsa sayının kendisini yazdıran python kodunu yazın.
Cevaplar yarın 15:00(tr) e kadar slack kanallarında paylaşılmayacak. 15:00 dan sonra paylaşabilirsiniz.

In [2]:
# çözüm kısmen doğru ancak hata/hatalar var. Asla "Techpro" yazmaz.
x = int(input("Lütfen bir sayı girin"))

print("girilen değer:",x)

if x % 3 == 0:
    print("Tech")
elif x % 5 == 0:
    print("Pro")
elif (x % 5 == 0) and (x % 3 == 0):
    print("Techpro")
else:
    print(x)

girilen değer: 15
Tech

In [4]:
x = int(input("Lütfen bir sayı girin")) #doğru çözüm ancak uzun
print("girilen değer:",x)
if x % 3 == 0 and not (x % 5 == 0):
    print("Tech")
elif x % 5 == 0 and not (x % 3 == 0):
    print("Pro")
elif (x % 5 == 0) and (x % 3 == 0):
    print("Techpro")
else:
    print(x)

girilen değer: 15
Techpro

In [3]:
x = int(input("Lütfen bir sayı girin")) # en doğru çözüm 
print("girilen değer:",x)

if (x % 5 == 0) and (x % 3 == 0):
    print("Techpro")
elif x % 3 == 0:
    print("Tech")
elif x % 5 == 0:
    print("Pro")
else:
    print(x)

girilen değer: 15
Techpro

ödev1; kullanıcıdan boy ve kilo sunu öğrenip vki durumunu yazdırın.

In [14]:
boy = int(input("boyunuzu cm cinsinden giriniz: ")) / 100
kilo = int(input("kilonuzu kg cinsinden giriniz:"))
print("boyunuz:", boy)
print("kilonuz:", kilo)
vki = kilo / (boy ** 2)
if  0< vki < 18.5:
    print("ideal kilonuzu altındasınız (zayıf)")
elif 18.5 <= vki <=24.9 :
    print ("ideal kilodasınız(normal)" )
elif 25 <= vki <=29.9 :
    print ( "ideal kilonuzun üstündesiniz (aşırı kilolu)")
elif 30 <= vki:
    print ( "ideal kilonuzun aşırı üstündesiniz (obez)")
else:
    print ("hatalı giriş yaptınız")

boyunuz: 1.67
kilonuz: 68
ideal kilodasınız(normal)

# 06.02.2024 tarihli ders

## Listeler konusuna devam

In [15]:
potbori = ["Seyda", 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
potbori

['Seyda', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

In [18]:
potbori [0] = "Betül"
potbori

['Betül', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

In [19]:
name = "Techpro Education"

In [20]:
name [0] = "B" #çünkü stringlerimmutable yani değiştirilemez değişkenler iken list'ler mutable, değiştirilebilir değişkenlerdir.

TypeError: 'str' object does not support item assignment

## Basic Operations with Lists or list's methods

In [21]:
sayılar_1 = [1, 2, 3, 4, 5]
sayılar_1

[1, 2, 3, 4, 5]

### append()

In [24]:
sayılar_1.append(6) #iki kere çalıştırdığım için yani sanki kodu alt alta iki kez yazmış gibi olduğum için iki defa ekledi.
sayılar_1

[1, 2, 3, 4, 5, 6, 6]

In [25]:
sayılar_1.append(8,9) #hata verir. tek append() ile iki eleman eklenemez

TypeError: list.append() takes exactly one argument (2 given)

### insert()

In [34]:
sayılar_2 = [11, 12, 13, 14, 15]
sayılar_2

[11, 12, 13, 14, 15]

In [35]:
sayılar_2.insert(1, 20) #1. dizinine 20 elemanını ekle demek. 1. dizine 20 ekler gerisine omuz atıp sağa kaydırır.
sayılar_2

[11, 20, 12, 13, 14, 15]

In [36]:
sayılar_2.insert(-1, 16) # -1'den 16 elemanını ekledi. -1'deki 15 elemanını sağa kaydırdı.
sayılar_2

[11, 20, 12, 13, 14, 16, 15]

In [37]:
sayılar_2.insert(100, 17) #belirttiğin indis sayısı son indisini aşıyorsa sa en sona ekler.
sayılar_2

[11, 20, 12, 13, 14, 16, 15, 17]

### remove() liste içinde parantez içiyle eşleşen belirli bir elemanı siler. eleman yoksa hata verir.

In [38]:
sayılar_2

[11, 20, 12, 13, 14, 16, 15, 17]

In [39]:
sayılar_2.remove(17) #aynı değerden birçok olsaydı en soldakini, yani ilkini silerdi.
sayılar_2

[11, 20, 12, 13, 14, 16, 15]

In [40]:
sayılar_2.remove(17)
sayılar_2

ValueError: list.remove(x): x not in list

In [41]:
isimler_1 = ["Fulya", "Serhat", "Aslan"]
isimler_1

['Fulya', 'Serhat', 'Aslan']

In [42]:
isimler_1.remove("Serhat")
isimler_1

['Fulya', 'Aslan']

In [43]:
isimler_1[1] = "Mehmet"
isimler_1

['Fulya', 'Mehmet']

### pop() listenin indexindeki elemanı siler. bişey yazmazsanız son elemanı siler. silidiği elemanı da çıktı verir.

In [44]:
sayılar_1

[1, 2, 3, 4, 5, 6, 6]

In [45]:
sayılar_1.pop() #indis değeri yazmazsan en sondaki elemandan silmeye başlar.

6

In [46]:
sayılar_1

[1, 2, 3, 4, 5, 6]

In [47]:
sayılar_1.pop(4) #altına başka kod geldiği için sildiğini çıktı vermedi ama.
sayılar_1

[1, 2, 3, 4, 6]

In [48]:
sayılar_3 = []

In [49]:
sayılar_3.pop() #boş liste olduğu için indise ulaşamadığı için hata verir.

IndexError: pop from empty list

In [50]:
isimler_1

['Fulya', 'Mehmet']

In [51]:
silinen = isimler_1.pop()
silinen

'Mehmet'

In [52]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [53]:
isimler_1

['Fulya']

In [54]:
isimler_1.pop(2) #isimler listesinin artık sadece 0. indiis var. iindisi bulamadığından hata verdi.

IndexError: pop index out of range

### count() parantez içine yazılan nesneden listede kaç tane bulunduğunu söyler.

In [55]:
sayılar_5 = [1, 2, 3, 2, 4, 3, 5, 1, 2, 4]
sayılar_5

[1, 2, 3, 2, 4, 3, 5, 1, 2, 4]

In [56]:
sayılar_5.count(3)

2

In [57]:
sayılar_5.count(9)

0

In [60]:
karışık = [1, 0.0, False, 2, True, 1, 1.0, 0, "", "irem"]
karışık

[1, 0.0, False, 2, True, 1, 1.0, 0, '']

In [61]:
karışık.count(0) #false değerler olan 0.0, 0, ve false değerlerini aldı. falsy değer olan boş stringi saymadı.aynı şekilde truthy değerleri de saymaz.

3

In [62]:
karışık.count(True)

4

### clear() tüm listeyi temizler

In [63]:
sayılar_2

[11, 20, 12, 13, 14, 16, 15]

In [64]:
sayılar_2.clear()
sayılar_2

[]

### del komplelisteyi siler. listenin içini değil sadece ve parantezle çağrılmaz.

In [66]:
sayılar_1

[1, 2, 3, 4, 6]

In [67]:
del sayılar_1
sayılar_1

NameError: name 'sayılar_1' is not defined

### sort() liste içindeki elemanları sıralamayı sağlar

In [68]:
sayılar_6 = [4, 8, 3, 5, 15, 5.5 ,26, 41, 12]
sayılar_6

[4, 8, 3, 5, 15, 5.5, 26, 41, 12]

In [70]:
sayılar_6.sort()
sayılar_6

[3, 4, 5, 5.5, 8, 12, 15, 26, 41]

In [71]:
sayılar_6.sort(reverse = True)
sayılar_6

[41, 26, 15, 12, 8, 5.5, 5, 4, 3]

In [72]:
isimler_2 = ["Murat", "ayşe", "seyda", "mehmet"]
isimler_2

['Murat', 'ayşe', 'seyda', 'mehmet']

In [74]:
isimler_2.sort()
isimler_2

['Murat', 'ayşe', 'mehmet', 'seyda']

In [80]:
ord("m")

109

In [81]:
ord("M") #yani iki yukardak örnekte karakterlerin ilk harfinin ascıı karşılıklarıına göre küçükten büyüğe sıraladı.

77

In [83]:
isimler_2.sort(reverse= True)
isimler_2

['seyda', 'mehmet', 'ayşe', 'Murat']

In [84]:
liste_1 = ["sedat", "mehmet", 1, 2.5] #liste içerisinde farklı data type'lar varsa sort methodu hata verir.
liste_1

['sedat', 'mehmet', 1, 2.5]

In [85]:
liste_1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

### extend()

In [95]:
liste_2 =[1, 2, 3]
liste_2

[1, 2, 3]

In [108]:
help(list.extend) #iterable eleman alarak liste'yi append yapar gibi.

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [96]:
liste_2.extend([4, 5]) #syntaxa dikkat et. ekelmek istediğin ya da istediklerin intler köşeli parantez içinde olmalı.
liste_2

[1, 2, 3, 4, 5]

In [97]:
liste_2.extend(6)

TypeError: 'int' object is not iterable

In [98]:
liste_2.extend("Techpro") #strring eklersen her bir karakterini elemana dönüştürüp ekler
liste_2

[1, 2, 3, 4, 5, 'T', 'e', 'c', 'h', 'p', 'r', 'o']

# 08.02.2022 tarihli ders

## TUPLES

In [99]:
#immutable, stringler gibi, listelerin aksine. assign işlemi yapmadan değiştirilemez. /n
#iterable /n
#tuplelar listelere göre daha hızlıdır ve daha güvenlidir. çünkü içinden eleman silemezsin.

In [ ]:
tuple()
()

In [102]:
tuple("Techpro")

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [103]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [104]:
tuple([1,2,3] "Techpro")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3774360105.py, line 1)

In [109]:
tuple_1= ("Techpro", 3, 3.14, False, [1,2,3])
tuple_1

('Techpro', 3, 3.14, False, [1, 2, 3])

In [107]:
type(tuple_1) #türkçe karşılığı demet gibi ama çok kullanılmaz?

tuple

In [110]:
tuple(123) # içine string yazsaydık tuple'a çevirirdi ancak iterable olmayan integer ifadeleri tuple yapamaz hata verir.

TypeError: 'int' object is not iterable

In [111]:
name="başak"
tuple(name)

('b', 'a', 'ş', 'a', 'k')

In [113]:
pi_number= 3,14
pi_number

(3, 14)

In [114]:
type(pi_number)

tuple

In [115]:
len(pi_number)

2

In [116]:
["Techpro"] #list'i böyle tek elemanlı oluşturdu.

['Techpro']

In [117]:
("Techpro") #bu yöntemle tek elemanlı tupple oluşturmak için sonrasında virgül koymak lazım alttaki örnek gibi

'Techpro'

In [118]:
("Techpro",)

('Techpro',)

In [121]:
tek_elemanlı= ("Techpro") #virgül koymadım tupple yapmadı string algıladı sadece
tek_elemanlı

'Techpro'

In [125]:
tek_elemanlı_1= (122.3) #virgül koymadım tupple yapmadı parantez içindeki data type'ı algıladı sadece
print(tek_elemanlı_1)
type(tek_elemanlı_1)

122.3

float

In [2]:
tek_elemanlı_2= ("techpro",) #virgül koydum tek elemanlı tupple yaptı
tek_elemanlı_2

('techpro',)

In [3]:
len(tek_elemanlı_2)

1

In [4]:
type("techpro",) #burdaki parantez type fonksiyonuna ait. o yüzden içerde string var da devam edecekmiş gibi algıar türüne string der

str

In [6]:
type(("techpro",))

tuple

In [7]:
type(1,2)

TypeError: type() takes 1 or 3 arguments

In [9]:
liste_1= 3, 2, 5 #bu köşeli parantez olmadığı için tuple olur
liste_1

(3, 2, 5)

In [10]:
[1,2,3] + [4, 5]

[1, 2, 3, 4, 5]

In [11]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
(1,2,3) + (4,5)

(1, 2, 3, 4, 5)

In [13]:
(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [14]:
("Techpro", 3, False) + ("Sedat") #ikinci ifade string, virgül yok hata verir

TypeError: can only concatenate tuple (not "str") to tuple

indexing and slicing

In [15]:
tuple_2 = ("Aslan", 4, True, ["Tulay",5,6], ("Zeynep",2,3.14) )

In [16]:
tuple_2[3][0]

'Tulay'

In [17]:
tuple_2[4][1]

2

In [19]:
tuple_2[1:4] #slicing sonucunda gelen ifade slicing yaptığın şeyin türü şeklinde gelir. alttaki örnekleri incele.boş bile olsa sonuç. ama indexlemede işaret ettiğin indexin türü şeklinde çıktı verir.

(4, True, ['Tulay', 5, 6])

In [20]:
"techpro"[1:5]

'echp'

In [22]:
[1,2,3,4,7,8][1:3]

[2, 3]

In [23]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [24]:
tuple_2[6:3]

()

In [26]:
tuple_2[3:0:-2]

(['Tulay', 5, 6], 4)

In [28]:
tuple_2[0]= 5 #çünkü tuple'lar mutable değildir.değiştirmek için tüm tuple'a yeniden assignment yapmak gerekir

TypeError: 'tuple' object does not support item assignment

In [29]:
tuple_2[3].append(7)

In [30]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6, 7], ('Zeynep', 2, 3.14))

In [31]:
liste_1= ["tulay", 5, 6]
tuple_2=('Aslan', 4, True, liste_1, ('Zeynep', 2, 3.14))
tuple_2[3].append(7)
tuple_2

('Aslan', 4, True, ['tulay', 5, 6, 7], ('Zeynep', 2, 3.14))

In [32]:
del tuple_2[3] # çünkü tuple immutable, indexini silemezsin. ama tüm tuple'ı silebilirsin.

TypeError: 'tuple' object doesn't support item deletion

### Tuple Methods

In [33]:
tuple_3 = (1, 4, 2, 5, 1, 3, 2, 4)
tuple_3

(1, 4, 2, 5, 1, 3, 2, 4)

In [34]:
tuple_3.count(4)

2

In [35]:
tuple_3.count(1)

2

In [36]:
tuple_3.index(4)

1

In [38]:
tuple_3.index(7) #içinde olmayan eleman için hata verir.

ValueError: tuple.index(x): x not in tuple

## range() fonksiyonu
başlangıç değerinden bitiş değerine kadar olan sayıları sıralar.

In [41]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [1]:
range(4,10) #10 dahil değil

range(4, 10)

In [44]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [45]:
tuple(range(4,10))

(4, 5, 6, 7, 8, 9)

In [46]:
range(4,10)[1]

5

In [47]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range()) #stop noktasının bir defaultu olmadığı için hata verdi

TypeError: range expected at least 1 argument, got 0

In [49]:
list(range(4,10,2)) #ikiden başlar ikişer ikişer 10 hariç sıralar. ayrıca range float ifadelerle çalışmaz.

[4, 6, 8]

In [50]:
list(range(-8,10,2))

[-8, -6, -4, -2, 0, 2, 4, 6, 8]

In [52]:
print(list(range(2,50,2)) )

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

# 09.02.2024 tarihli ders

## Dictionaries

In [1]:
# mutable
# iterable

In [4]:
{}
dict()

{}

In [6]:
dict_1 = {"key1" : "value1", "key2" : "value2" }
dict_1

{'key1': 'value1', 'key2': 'value2'}

In [9]:
len(dict_1) #1 key ve eşleştiği  1 value'yu bir eleman olarak algılıyor.

2

In [8]:
type(dict_1)

dict

In [11]:
dict_1.items() ##items dictionay'nin elemanlarını tek tek görmemizi sağlar. bir liste içinde tuple şeklinde key-value çiftlerini gösterdi.

dict_items([('key1', 'value1'), ('key2', 'value2')])

In [12]:
dict_1.keys() #sadece keyleri bir liste içinde gösterir.

dict_keys(['key1', 'key2'])

In [13]:
dict_1.values() #sadece value'ları bir liste içinde gösterir.

dict_values(['value1', 'value2'])

In [15]:
dict_2 = {"name" : "ömer", "age" : 30, "job" : "Data scientsit"}
dict_2

{'name': 'ömer', 'age': '30', 'job': 'Data scientsit'}

In [16]:
dict_2.keys()

dict_keys(['name', 'age', 'job'])

In [17]:
dict_2.values()

dict_values(['ömer', '30', 'Data scientsit'])

In [18]:
dict_2

{'name': 'ömer', 'age': '30', 'job': 'Data scientsit'}

In [19]:
dict_2[0] #indexlemeyi index sayısım-na göre değil indeksi içindeki keyin eşleştiği noktayı getirecek şekilde yapıyor. alttaki örnek.

KeyError: 0

In [21]:
dict_2["name"]

'ömer'

In [22]:
dict_3 = {"name" : input("isminizi girin")}

In [23]:
dict_3

{'name': 'irem'}

### key oluşturma

In [28]:
dict_4 = { 1: "one",0 :"zero", 2 : "two"}
dict_4

{1: 'one', 0: 'zero', 2: 'two'}

In [29]:
dict_4[0] #dikkat et sana 0. indexi döndürmedi. keyi "0" ile eşleşen değerin value'sunu gönderdi.

'zero'

In [30]:
dict_4.keys()

dict_keys([1, 0, 2])

In [31]:
dict_5={False : 0, True : 1}
dict_5

{False: 0, True: 1}

In [33]:
dict_6 = {3.14 : "pi_number"} #kry ve value değerleri her şey olabilir. yalnızca listeler key olarak atanamaz.ancak tuple'lar atanabilir.
dict_6

{3.14: 'pi_number'}

In [34]:
dict_7 = { [1,2,3] : "sayılar listesi"} #listeler key olarak atanamaz.
dict_7

TypeError: unhashable type: 'list'

In [35]:
dict_8 = { (1,2,3) : "sayılar tuple'ı"} #tuple'lar key olabilir.
dict_8

{(1, 2, 3): "sayılar tuple'ı"}

In [36]:
dict_9 = {"öğrenci1" : ["orkun", 32, "data science"], "öğrenci2" : ["bilkay", 25, "python_developer"], } #tuple'lar da listeler de  value olabilir. eğer value değişmeyecek bilgiler içeriyorsa tuple yapmak daha mantıklıdır.
print (dict_9)
dict_9

{'öğrenci1': ['orkun', 32, 'data science'], 'öğrenci2': ['bilkay', 25, 'python_developer']}

{'öğrenci1': ['orkun', 32, 'data science'],
 'öğrenci2': ['bilkay', 25, 'python_developer']}

In [37]:
dict_9.keys()

dict_keys(['öğrenci1', 'öğrenci2'])

In [42]:
dict_9["öğrenci1"][1] = 36 #ilk ifadenin sonucu artık bir liste olduğu için liste methodlarını devamında kullanabiliriz.bir ictionarinin sadece valueları değiştirilebilir?
dict_9

{'öğrenci1': ['orkun', 36, 'data science'],
 'öğrenci2': ['bilkay', 25, 'python_developer']}

In [44]:
dict_10 = { "öğrenci1" : ("Orkun", 32, "data science"), 3.14 : "pi_number", True : 1} # bir dictoanary' nin key ve value'ları farklı data type'larda olabilir.

In [45]:
dict(one = 1, two = 2, three = 3) #dict fonksiyonu ile dictionary tanımlarken yani dict() şeklinde tanımlarken sanki bir değişken ataması yapar gibi yapıyosun. o yüzden değişken gibi gördüğü için isimlendirmede başında harf ya da biryerinde özel karakter olan key atamalarında hata veriyor. dict fonksiyonu key değerlerini otomatik string'e çeviriyor.

{'one': 1, 'two': 2, 'three': 3}

In [47]:
dict(one = "1", two = "2", three = "3")

{'one': '1', 'two': '2', 'three': '3'}

In [50]:
dict(1 = "1", 2 = "2", 3 = "3") #o yüzden değişken gibi gördüğü için isimlendirmede başında harf ya da biryerinde özel karakter olan key atamalarında hata veriyor.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3663779327.py, line 1)

In [48]:
liste_1 = [("name", "sedat"), ("name2", "murat"), ("name3", "ebru")] #bu şekile olmasaydı dict yapamazdı.
liste_1

[('name', 'sedat'), ('name2', 'murat'), ('name3', 'ebru')]

In [49]:
dict(liste_1)

{'name': 'sedat', 'name2': 'murat', 'name3': 'ebru'}

In [129]:
tuple_7= (["name", "sedat"], ("name2", "murat"), ["name3", "ebru"])
tuple_7

(['name', 'sedat'], ('name2', 'murat'), ['name3', 'ebru'])

In [130]:
dict(tuple_7) #yani önemli olan ikili formaattır. list ya da tupleolması çok önemli değildir.

{'name': 'sedat', 'name2': 'murat', 'name3': 'ebru'}

In [52]:
dict_9.items()

dict_items([('öğrenci1', ['orkun', 36, 'data science']), ('öğrenci2', ['bilkay', 25, 'python_developer'])])

In [54]:
list(dict_9.items())

[('öğrenci1', ['orkun', 36, 'data science']),
 ('öğrenci2', ['bilkay', 25, 'python_developer'])]

In [53]:
list(dict_9) #bu şekilde yaparsan sadece keyleri list yapar.

['öğrenci1', 'öğrenci2']

In [56]:
liste_2= list(dict_9.items()) #bazen dicionary ile yapamadığımız işlemleri, dictionary'leri liste çevirerek list ile yapabiliriz.
liste_2

[('öğrenci1', ['orkun', 36, 'data science']),
 ('öğrenci2', ['bilkay', 25, 'python_developer'])]

In [57]:
liste_2[0]

('öğrenci1', ['orkun', 36, 'data science'])

In [70]:
dict_friend=dict(friend1 = "ali", friend2 = "veli", friend3 = "ebru")
dict_friend

{'friend1': 'ali', 'friend2': 'veli', 'friend3': 'ebru'}

In [65]:
dict_friend_2 = {'friend1': 'irem', 'friend2': 'mert', 'friend3': 'elif' }
dict_friend_2

{'friend1': 'irem', 'friend2': 'mert', 'friend3': 'elif'}

In [66]:
len(dict_friend)

3

In [72]:
dict_friend

{'friend1': 'ali', 'friend2': 'veli', 'friend3': 'ebru'}

In [75]:
dict_friend ["friend1"]

'ali'

In [76]:
dict_friend ["friend4"]

KeyError: 'friend4'

In [85]:

dict_friend ["friend4"] = "Aytaç" #demekki key deitştirlemez ama olmayan bir key assign işlemi ile dictionary'ye ekleme yapılabilir.
dict_friend

{'friend1': 'ali', 'friend2': 'yasin', 'friend3': 'ebru', 'friend4': 'Aytaç'}

In [86]:
dict_friend ["friend2"] = "yasin" #bir keyin value karşılığğı assign ile değiştirilebilir.
dict_friend

{'friend1': 'ali', 'friend2': 'yasin', 'friend3': 'ebru', 'friend4': 'Aytaç'}

In [87]:
del dict_friend["friend4"] #keyi ssildik. Ayrıca bir listeye farklı keyler için birbiriyle aynı value'lar girebilirsin. ancak key'ler eşsizdir.birebir  aynı şekilde iki adet key bulunmaz.

In [88]:
dict_friend

{'friend1': 'ali', 'friend2': 'yasin', 'friend3': 'ebru'}

In [103]:
sayilar = {"tek sayılar" : [], "çift sayılar" : []}
sayilar

{'tek sayılar': [], 'çift sayılar': []}

In [104]:
sayilar["tek sayılar"].extend(range(1,10,2))
sayilar

{'tek sayılar': [1, 3, 5, 7, 9], 'çift sayılar': []}

In [105]:
sayilar["çift sayılar"].append(2)
sayilar["çift sayılar"].append(4)
sayilar["çift sayılar"].append(6)
sayilar["çift sayılar"].append(8)
sayilar

{'tek sayılar': [1, 3, 5, 7, 9], 'çift sayılar': [2, 4, 6, 8]}

### basic operations with Dictionaries

In [106]:
dict_friend

{'friend1': 'ali', 'friend2': 'yasin', 'friend3': 'ebru'}

In [108]:
dict_friend.update({"friend_6" :"mehmet"} ) #update dictionary'inin içine yine bir dictionary formatı ile key-value ikilisi ekler. sıralama olmadığı için aslında herhangi bir yere ekler ancak biz sonunda görürüz.Varolan bir key ve yeni bir value yazarsan mevcut keydeki value'yu değiştirir.
dict_friend

{'friend1': 'ali', 'friend2': 'yasin', 'friend3': 'ebru', 'friend_6': 'mehmet'}

In [110]:
bb = {"friend7" : "ada" }

In [112]:
dict_friend.update(bb )
dict_friend

{'friend1': 'ali',
 'friend2': 'yasin',
 'friend3': 'ebru',
 'friend_6': 'mehmet',
 'friend7': 'ada'}

In [113]:
bb + dict_friend #dictionary'lerde matematiksel işlemler yapılamaz.

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [114]:
###clear

In [115]:
dict_10.clear() #dictionary'yi ramden silmez içini boşaltır.
dict_10

{}

In [116]:
empty_dict={}
empty_dict

{}

In [117]:
empty_dict2=dict()
empty_dict2

{}

In [118]:
##pop()

In [125]:
dict_9

{'öğrenci1': ['orkun', 36, 'data science'],
 'öğrenci2': ['bilkay', 25, 'python_developer']}

In [126]:
dict_9.pop() #burada boşsa sondakini silmiyor. hata veriyor.

TypeError: pop expected at least 1 argument, got 0

In [127]:
dict_9.pop('öğrenci1') #buraya virgül koyarak ikinc bir key koyarsan yalnızca ilk key-value'yu siler yalnızca. hata da vermez ikisini birden silme gibi bir işlem de yapmaz. ayrıca dictionary'lerde bir sıralama yoktur. görüntüde sıralama yoktur. sıralı index mantığı da yoktu hatırlarsan.
dict_9

{'öğrenci2': ['bilkay', 25, 'python_developer']}

# 10.02.2024 tarihli ders

## Nested Dictionaries

In [ ]:
#iç içe dictionary'ler.

In [131]:
myfamily = {"child_1" : {"name" : "Emily", "year": 2004},
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

In [133]:
myfamily.items()

dict_items([('child_1', {'name': 'Emily', 'year': 2004}), ('child_2', {'name': 'Tobias', 'year': 2007}), ('child_3', {'name': 'Linus', 'year': 2011})])

In [134]:
myfamily.keys()

dict_keys(['child_1', 'child_2', 'child_3'])

In [135]:
myfamily.values()

dict_values([{'name': 'Emily', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

In [139]:
myfamily["child_1"]

{'name': 'Emily', 'year': 2004}

In [142]:
myfamily["child_1"].items()

dict_items([('name', 'Emily'), ('year', 2004)])

In [141]:
myfamily["child_1"].keys()

dict_keys(['name', 'year'])

In [144]:
myfamily["child_2"]["name"]

'Tobias'

In [146]:
myfamily2 = {"child_1" : {"name" : ("Emily", "Rose"), "year": 2004},
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}} #key olarak listeler gibi dictionary'leri de kullanamıyoruz. hata veriyor.

In [147]:
myfamily2["child_1"]["name"][0]

'Emily'

In [148]:
myfamily2["child_1"]["name"][1]

'Rose'

## SETS (kümeler)

In [149]:
# kümelerin en büyük özelliği içerisinde bir elemanı birden fazla barındırmaması. farklı data typelardaki elemanları verirsin.sadece aynı elemanı birden çok yazamazsın.
#mutable
#iterable

In [1]:
set() #set oluşturma yöntemleri.
{}

{}

In [3]:
set("hello") #bir elemanı birden fazla kez tutmadığı için fazlalıkları sildi, tek "l" var.alfabetik sıray agöre vermez normalde.

{'e', 'h', 'l', 'o'}

In [5]:
set("Techpro")

{'T', 'c', 'e', 'h', 'o', 'p', 'r'}

In [6]:
print(set("Techpro")) #kümeler unordered yapıdadır. bildiğimiz anlamda indekslemek mümkün değildir. farklı yol(?) var.

{'e', 'r', 'p', 'c', 'o', 'h', 'T'}

In [7]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [9]:
{"blue", "green", "yellow", "blue", "green", "black"}

{'black', 'blue', 'green', 'yellow'}

In [10]:
{"mikail", 25, True, 3.14, [1,2,3], (4,5,6)}

TypeError: unhashable type: 'list'

In [11]:
{"mikail", 25, True, 3.14,  (4,5,6)} #kümeler içinde liste barındırmaz.tuple barındırabilir. yukarıda listeye hata verdi.

{(4, 5, 6), 25, 3.14, True, 'mikail'}

In [12]:
{"mikail", 25, True, 3.14,  (4,5,6), {"name" : "sedat"}} #yine içine dictionary'de alamaz

TypeError: unhashable type: 'dict'

In [13]:
{"mikail", 25, True, 3.14,  (4,5,6), {"name", "sedat"}} #kümeler içine bir başka küme de alamaz

TypeError: unhashable type: 'set'

In [15]:
empty_set = set() #boş kğme oluşturmanın tek yolu
empty_set

set()

In [16]:
empty_set2 = {} 
empty_set2

{}

In [18]:
type(empty_set2) #mesela dict oluşturmuş üstteki yöntem.

dict

In [20]:
set("sedat", "ali") #iki tane yazınca kümeye çevirmez. hata verir.

TypeError: set expected at most 1 argument, got 2

In [21]:
#bir kırtasiyeci olduğunuzu düşünün
liste_sube1=["kalem", "silgi", "kağıt", "kalem ucu"]
liste_sube2=["silgi", "defter", "kağıt" ] #toptancıya gittiniz.hepsini bir arada sipariş vereceksiniz

In [23]:
liste_sube1 + liste_sube2

['kalem', 'silgi', 'kağıt', 'kalem ucu', 'silgi', 'defter', 'kağıt']

In [24]:
set(liste_sube1 + liste_sube2)

{'defter', 'kalem', 'kalem ucu', 'kağıt', 'silgi'}

In [28]:
set_1= {True, False, 1, 5, 0.0, 3.5} #burada bizim yazdığımız sıra önemli. eşit gördüğü şeylerden ilkini alıyor.
set_1

{False, True, 3.5, 5}

In [29]:
set_2= {0.0, 1, True, False,  5,  3.5} #burada bizim yazdığımız sıra önemli. eşit gördüğü şeylerden ilkini alıyor.
set_2

{0.0, 1, 3.5, 5}

In [30]:
set_2[0] #kümeler iterable'dır ancak indexlenemez. çünkü belli bir sıra yok.

TypeError: 'set' object is not subscriptable

In [31]:
list(set_2) #list fonksiyonu da hatta hatırlarsan iterable'larla çalışıyordu.

[0.0, 1, 3.5, 5]

In [32]:
len(set_2)

4

In [34]:
for i in set_2:
    print(i) #ders dışı örnek. for döngüsü iterable'lar ile ilgili. iterable olduğu için tek tek erişip listeledi.

0.0
1
3.5
5

## Union, Intersection, Diffeerence (birleşim, kesişim, fark)

In [36]:
a = set("suzan")
b = set("yavuz")

In [40]:
print(a)
print(b)

{'a', 'n', 'z', 's', 'u'}
{'a', 'y', 'z', 'v', 'u'}

In [37]:
a.intersection(b)

{'a', 'u', 'z'}

In [46]:
a & b #itersection'ın işareti

{'a', 'u', 'z'}

In [47]:
b & a

{'a', 'u', 'z'}

In [38]:
b.union(a)

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [43]:
b | a #birleşimin işareti

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [45]:
a+b #kümelerde işlem yok

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [48]:
b.difference(a)

{'v', 'y'}

In [49]:
a - b

{'n', 's'}

In [50]:
b-a

{'v', 'y'}

In [41]:
a.difference(b)

{'n', 's'}

In [55]:
set_3 = set("fıstık")
set_4 = set("fındık")

In [56]:
set_3

{'f', 'k', 's', 't', 'ı'}

In [57]:
set_4

{'d', 'f', 'k', 'n', 'ı'}

In [58]:
set_3|set_4 #birleşim

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [59]:
set_3 - set_4 #fark

{'s', 't'}

In [60]:
set_4 - set_3 #fark

{'d', 'n'}

In [61]:
set_3 & set_4 #kesişim

{'f', 'k', 'ı'}

In [62]:
(set_3 | set_4) - (set_3 & set_4) #birleşimden kesişimin çıkmış hali

{'d', 'n', 's', 't'}

In [65]:
(set_3-set_4) | (set_4 - set_3) # iki kümenin birbirinden farkının birleştirilmiş hali. yukarıdaki ile aynı sonuç.

{'d', 'n', 's', 't'}

In [63]:
set_3.symmetric_difference(set_4) #birleşimden kesişimin çıkmış hali, tek bir meethod ile yapım.

{'d', 'n', 's', 't'}

In [64]:
set_3 ^ set_4 #birleşimden kesişimin çıkmış hali, kısayol

{'d', 'n', 's', 't'}

## basic operations with set

###clear()

In [66]:
set_3.clear()
set_3

set()

In [67]:
##remove()

In [68]:
a

{'a', 'n', 's', 'u', 'z'}

In [69]:
a.remove("s")
a

{'a', 'n', 'u', 'z'}

In [70]:
#pop()

In [71]:
help(set.pop) #tamamen rastgele eleman siler.

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [72]:
a.pop()

'a'

In [73]:
a

{'n', 'u', 'z'}

In [74]:
## add #eleman ekler, append gibi çalışır.

In [76]:
set_3.add("a")

In [77]:
set_3.add("b")

In [78]:
set_3

{'a', 'b'}

In [79]:
set_3.update({"ali", "mert"})

In [80]:
set_3

{'a', 'ali', 'b', 'mert'}

In [81]:
## issubset() #

In [82]:
set_5= set("selin")
set_6= set("enes")

In [83]:
set_5

{'e', 'i', 'l', 'n', 's'}

In [84]:
set_6

{'e', 'n', 's'}

In [85]:
set_5.issubset(set_6)

False

In [86]:
set_6.issubset(set_5)

True

In [87]:
set_7 = set("sine")
set_8 = set ("enis")

In [88]:
set_7

{'e', 'i', 'n', 's'}

In [89]:
set_8

{'e', 'i', 'n', 's'}

In [90]:
set_7.issubset(set_8)

True